Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding, check-braces

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
  check-braces: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$

EH tesla progress bars
  common/on_actions/99_EH_on_actions.txt
  common/scripted_guis/EH_scripted_gui.txt
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

pictures and icons
  gfx/leaders/CHE/Abdul_Halim_Sadulayev.dds
  gfx/leaders/CHE/CHE_Akhmed_Zakaye.dds
  gfx/leaders/CHE/CHE_Arbi_Baraye.dds
  gfx/leaders/CHE/CHE_Khamzat_Tazabaev.dds
  gfx/leaders/CHE/CHE_Maskhadov_Anzor.dds
  gfx/leaders/CHE/CHE_Movsar_Baraev.dds
  gfx/leaders/CHE/CHE_Ramzan_Akhmadov.dds
  gfx/leaders/CHE/CHE_Said_Khasanom_Abumuslimov.dds
  gfx/leaders/CHE/CHE_Vakha_Jafarov.dds
  gfx/leaders/CHE/Dokka_Umarov.dds
  gfx/leaders/CHE/Ibn_al_Khattab.dds
  gfx/leaders/CHE/Shamil_Basayev.dds
  gfx/leaders/CHE/aslan_maskhadov_general.dds
  gfx/leaders/CHE/salman_raduev.dds
  gfx/leaders/ING/ING_Ali_Taziev.dds
  gfx/texticons/parties_icons/russia/chechnya/CHE_Islamic_Brigade.dds
  gfx/texticons/parties_icons/russia/chechnya/CHE_SPIR.dds
  gfx/texticons/parties_icons/russia/chechnya/The_Army_of_General_Dudayev.dds
Due: none

file
  interface/MD_parties_icons.gfx
Due: none

Foreign Policy Part 1
  common/ideas/Republic of Lakota.txt
  common/national_focus/Republic of Lakota.txt
  common/national_focus/Southern_Republic_of_America.txt
  common/national_focus/free_states_of_america.txt
  events/Republic of Lakota.txt
  gfx/flags/LKT_Second_American_Republic.tga
  gfx/flags/medium/LKT_Second_American_Republic.tga
  gfx/flags/small/LKT_Second_American_Republic.tga
  localisation/english/MD_focus_LKT_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix event
  events/United States.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

last bits of pre-work
  common/national_focus/iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

quick push to add the loc files here
  common/scripted_localisation/00_IS_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH tesla production effects
  common/ideas/Event Horizon.txt
  common/scripted_guis/EH_scripted_gui.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

EH forgot to uncomment
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH tesla reset after destroying portal
  common/on_actions/99_EH_on_actions.txt
  common/raids/air_raids.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH tesla loc polishing
  common/scripted_guis/EH_scripted_gui.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

typo
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH mech production is working
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

EH button fix
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH math for producing mechs done
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

EH mech randallite cost
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_cancel_box.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

More Party Changes (#466)
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

EH changes save
  common/decisions/EH_decisions.txt
  gfx/interface/decisions/main/fixes_button.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH decision icons implementions
  gfx/interface/decisions/decision_categories/decision_category_trolley.dds
  gfx/interface/decisions/event_horizon/decision_randallite_allowed.dds
  gfx/interface/decisions/event_horizon/decision_randallite_outlawed.dds
  gfx/interface/decisions/main/decision_fixes_button_blocked.dds
  interface/MD_decisions.gfx
Due: none

EH icons implementation
  common/decisions/EH_decisions.txt
  common/decisions/categories/EH_decision_category.txt
  gfx/interface/decisions/event_horizon/decision_search_for_randallite.dds
  interface/MD_decisions.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH fix decision
  common/decisions/EH_decisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH fix tesla resource triggers
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH chimera disabled economy
  history/countries/ALN - Alien.txt
  history/units/ALN_2000.txt
  history/units/ALN_2000_bba.txt
  history/units/ALN_2000_nonbba.txt
  history/units/ALN_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

More optimizations and cleanups (#467)
  common/decisions/Afghanistan.txt
  common/decisions/Syria.txt
  common/decisions/libya.txt
  common/ideas/Factions.txt
  common/national_focus/syria.txt
  common/national_focus/turkey.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/07_italy_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/01_NATO_effects.txt
  common/scripted_effects/02_CSTO_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_energy_gui.txt
  events/Afghanistan.txt
  events/Central African Republic.txt
  events/France.txt
  events/Germany.txt
  events/Greece.txt
  events/Ivory_Coast.txt
  events/Liberia.txt
  events/Libya.txt
  events/Mali.txt
  events/Sierra Leone.txt
  events/Syria_Focus_Events.txt
  events/agricultural_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

EH megastate leaders traits
  history/countries/AFD - African Defense Point.txt
  history/countries/ALN - Alien.txt
  history/countries/ASE - South Eastern Republic.txt
  history/countries/CHN - People's Republic of the Three Peaks.txt
  history/countries/CRU - Eastern Continental Union.txt
  history/countries/EAC - East Asian Coalition.txt
  history/countries/ERF - Eurasian Federation.txt
  history/countries/EUF - European Federation.txt
  history/countries/ODU - Oceanic Defense Union.txt
  history/countries/RCA - Republic of Central America.txt
  history/countries/USM - Union of South American Nations.txt
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Remove domestic tree
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Reduced the scientist contribution by 0.05 again, upped leader bonus
  common/defines/MD_defines.lua
Due: none

focus icon update
  common/national_focus/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Regular update
  localisation/russian/MD_africa_events_l_russian.yml
  localisation/russian/MD_autonomy_l_russian.yml
  localisation/russian/MD_countries_cosmetic_l_russian.yml
  localisation/russian/MD_custom_achievements_l_russian.yml
  localisation/russian/MD_decisions_l_russian.yml
  localisation/russian/MD_focus_BRA_l_russian.yml
  localisation/russian/MD_focus_CES_l_russian.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_focus_COM_l_russian.yml
  localisation/russian/MD_focus_CUB_l_russian.yml
  localisation/russian/MD_focus_EGY_l_russian.yml
  localisation/russian/MD_focus_FRA_l_russian.yml
  localisation/russian/MD_focus_IRQ_l_russian.yml
  localisation/russian/MD_focus_ITA_l_russian.yml
  localisation/russian/MD_focus_LIC_l_russian.yml
  localisation/russian/MD_focus_POL_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_TAJ_l_russian.yml
  localisation/russian/MD_focus_USA_l_russian.yml
  localisation/russian/MD_focus_USR_l_russian.yml
  localisation/russian/MD_formable_nations_l_russian.yml
  localisation/russian/MD_frontend_l_russian.yml
  localisation/russian/MD_game_rules_l_russian.yml
  localisation/russian/MD_internal_factions_l_russian.yml
  localisation/russian/MD_investments_l_russian.yml
  localisation/russian/MD_laws_l_russian.yml
  localisation/russian/MD_money_l_russian.yml
  localisation/russian/MD_new_traits_l_russian.yml
  localisation/russian/MD_opinion_modifiers_l_russian.yml
  localisation/russian/MD_politics_content_l_russian.yml
  localisation/russian/MD_subideology_parties_l_russian.yml
  localisation/russian/MD_tooltips_l_russian.yml
  localisation/russian/agrarian_economy_l_russian.yml
  localisation/russian/countries_l_russian.yml
  localisation/russian/loading_tips_l_russian.yml
  localisation/russian/plane_designer_l_russian.yml
  localisation/russian/replace/replaced_from_game_rules_l_russian.yml
  localisation/russian/victory_points_l_russian.yml
Due: none

Nigeria_Niger_Delta news event gfx fix
  events/Nigeria_Niger_Delta.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Left Tree base and loc
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

quick push
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces
