Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Add icons to UK decisions and update ENG focus localization
  common/decisions/Britain.txt
  common/military_industrial_organization/organizations/MD_VEN_organizations.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

loc fix
  localisation/english/CAC_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix
  localisation/english/CAC_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH chimera war polishing
  common/on_actions/99_EH_on_actions.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH war name
  localisation/english/MD_wars_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH leaders fix
  gfx/leaders/CHN/CHN_HQ.dds
  gfx/leaders/CHN/Great_Hall_of_the_People.dds
  gfx/leaders/USN/Council_For_National_Preservation.dds
  gfx/leaders/USN/USN_HQ.dds
  history/countries/CHN - People's Republic of the Three Peaks.txt
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/decisions/netherlands.txt
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/dynamic_modifiers/HOL_Dynamic_modifiers.txt
  common/ideas/netherlands.txt
  common/national_focus/netherlands.txt
  common/on_actions/99_HOL_on_actions.txt
  common/scripted_effects/HOL_political_leaders.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/HOL - Holland.txt
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
  localisation/english/replace/replaced_from_vanilla_research_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH leader fix + gitignore
  .gitignore
  gfx/leaders/ALN/Superordinate.dds
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH alien flag
  gfx/flags/ALN_communism.tga
  gfx/flags/ALN_democratic.tga
  gfx/flags/ALN_fascism.tga
  gfx/flags/ALN_nationalist.tga
  gfx/flags/ALN_neutrality.tga
  gfx/flags/medium/ALN_communism.tga
  gfx/flags/medium/ALN_democratic.tga
  gfx/flags/medium/ALN_fascism.tga
  gfx/flags/medium/ALN_nationalist.tga
  gfx/flags/medium/ALN_neutrality.tga
  gfx/flags/small/ALN_communism.tga
  gfx/flags/small/ALN_democratic.tga
  gfx/flags/small/ALN_fascism.tga
  gfx/flags/small/ALN_nationalist.tga
  gfx/flags/small/ALN_neutrality.tga
Due: none

EH alien leader display in game
  history/countries/ALN - Alien.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH capital change
  history/countries/ALN - Alien.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed missing localzation for some unit categories
  Changelog.txt
  localisation/english/MD_new_unit_categories_l_english.yml
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_LBA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH megastates inherit tech
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera templates and units p.1
  common/ideas/Chimera.txt
  events/Event Horizon.txt
  history/countries/ALN - Alien.txt
  history/units/ALN_2000_nsb.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

251210 initial changes
  common/ideas/AA_law_budget.txt
  common/ideas/AA_law_economics.txt
  common/ideas/Arab Spirits.txt
  common/ideas/Korea.txt
  common/scripted_effects/00_education_effects.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH oobs
  common/units/names_divisions/ALN_names_divisions.txt
  events/Event Horizon.txt
  history/countries/ALN - Alien.txt
  history/units/ALN_2000_bba.txt
  history/units/ALN_2000_nonbba.txt
  history/units/ALN_2000_nonnsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Format and cleanup
  Changelog.txt
  common/decisions/Uzebkistan.txt
  common/decisions/categories/central_asian_narcotraffic_categories.txt
  common/decisions/kasmir_war_decisions.txt
  common/decisions/uzbekistan_decisions.txt
  common/ideas/Brazilian.txt
  common/national_focus/syria.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/02_dod_on_actions.txt
  common/on_actions/99_BOT_on_actions.txt
  common/on_actions/99_BRA_on_actions.txt
  common/on_actions/99_CHI_on_actions.txt
  common/on_actions/99_HEZ_on_actions.txt
  common/on_actions/99_PAK_on_actions.txt
  common/on_actions/99_RAJ_on_actions.txt
  common/on_actions/99_SWE_on_actions.txt
  common/on_actions/99_UZB_on_actions.txt
  common/on_actions/99_Warsaw_Pact_on_actions.txt
  common/scripted_effects/00_missiles_history_scripted_effect.txt
  common/scripted_effects/99_BOS_scripted_effects.txt
  common/scripted_effects/99_CES_scripted_effects.txt
  common/scripted_effects/99_ISR_scripted_effects.txt
  common/scripted_effects/99_SWE_scripted_effects.txt
  common/scripted_triggers/00_influence_scripted_triggers.txt
  common/scripted_triggers/99_SWE_scripted_triggers.txt
  events/Uzbekistan.txt
  history/countries/BOS - Bosnia.txt
  history/countries/HEZ - Hezbollah.txt
  history/countries/ISR - Israel.txt
  history/countries/UZB - Uzbekistan.txt
  localisation/english/MD_focus_CES_l_english.yml
  localisation/english/MD_influence_l_english.yml
  resources/turkmenistan/dec/Turkmen.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH save
  events/Event Horizon.txt
  history/countries/ALN - Alien.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH copy usa tech to chimera
  history/countries/ALN - Alien.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH hopefully aliens will have templates now
  common/ai_strategy/ALN.txt
  common/ai_templates/MD_event_horizon.txt
  common/ai_templates/MD_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH block tree from aliens
  common/national_focus/EH_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH more division changes
  common/ai_templates/MD_event_horizon.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH small fixes
  common/ai_strategy/ALN.txt
  common/ai_templates/MD_event_horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

minor tech tree corrections
  common/technologies/BBA_aircraft.txt
  common/technologies/MTG_naval.txt
  common/technologies/NSB_anti_air.txt
  common/technologies/NSB_armor.txt
  common/technologies/air_techs.txt
  common/technologies/industry.txt
  common/technologies/infantry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH fix
  history/units/ALN_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Modernization of the HLS content
  common/characters/HLS.txt
  common/country_leader/00_traits.txt
  common/decisions/05_vatican_decisions.txt
  common/decisions/categories/03_vatican_decision_categories.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/templates/99_HLS.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Vatican.txt
  common/national_focus/05_vatican_city.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  common/wargoals/00_holy_invasion.txt
  events/Vatican.txt
  history/countries/HLS - Holy See.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_HLS_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

updated and standardized focus tree
  common/national_focus/05_vatican_city.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed a formatting issue on the website
  docs/index.md
Due: none

Regular update
  localisation/russian/MD_doctrines_ncns_l_russian.yml
  localisation/russian/MD_focus_CES_l_russian.yml
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/russian/MD_focus_FIN_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_LBA_l_russian.yml
  localisation/russian/MD_focus_PER_l_russian.yml
  localisation/russian/MD_influence_l_russian.yml
  localisation/russian/MD_mio_l_russian.yml
  localisation/russian/MD_missiles_l_russian.yml
  localisation/russian/MD_subideology_parties_l_russian.yml
  localisation/russian/replace/replaced_from_faction_l_russian.yml
  localisation/russian/zombie_game_mode_l_russian.yml
Due: none

Refactored the Init Relations Script (#66)
  Changelog.txt
  common/on_actions/00_on_actions.txt
  events/Init_Relations.txt
  history/countries/AST - Australia.txt
  history/countries/CAN - Canada.txt
  history/countries/CHI - China.txt
  history/countries/EGY - Egypt.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/GER - Germany.txt
  history/countries/HEZ - Hezbollah.txt
  history/countries/IRQ - Iraq.txt
  history/countries/ISR - Israel.txt
  history/countries/JAP - Japan.txt
  history/countries/JOR - Jordan.txt
  history/countries/KAZ - Kazakhstan.txt
  history/countries/KOR - Korea.txt
  history/countries/LEB - Lebanon.txt
  history/countries/PER - Iran.txt
  history/countries/QAT - Qatar.txt
  history/countries/RAJ - India.txt
  history/countries/SAU - Saudi Arabia.txt
  history/countries/SYR - Syria.txt
  history/countries/TAI - Taiwan.txt
  history/countries/UAE - United Arab Emirates.txt
  history/countries/USA - USA.txt
  history/countries/YEM - Yemen.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH randallite window setup + production tab modified
  common/scripted_guis/EH_scripted_gui.txt
  interface/EH_scripted_gui.gui
  interface/countryproductionlineview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changes
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

VP loc update
  localisation/english/victory_points_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

001 test change
  common/ideas/AA_law_budget.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

002 education and literacy
  common/ideas/AA_law_budget.txt
  common/scripted_effects/00_education_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

003 economy and tech
  common/ideas/AA_law_economics.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
