Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Update Sweden.txt
  events/Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor Japan Article 9 decisions and tooltips
  common/decisions/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

afv_assault_gun_3 stat check
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed non existing modules, left the GFX tho
  common/technologies/NSB_armor.txt
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Music, GFX, & Japanese error fixes
  events/Russia.txt
  gfx/entities/JAP_MD_infantryandvehicle.asset
  gfx/entities/JAP_MD_infantryandvehicle.gfx
  interface/MD_eventpictures.gfx
  music/MD_music.asset
  music/MD_songs.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

air_techs Expanded Integration
  common/script_enums.txt
  common/technologies/air_techs.txt
  common/units/equipment/MD_x_tank_chassis.txt
  gfx/interface/equipmentdesigner/graphic_db/00_helicopter_icons.txt
  interface/countrytechtreeview.gui
  interface/mdult_air.gfx
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Missing String
  localisation/english/MD_focus_PER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Rebalanced German steel and moved Ukrainian facilties around
  Changelog.txt
  history/states/1030-Donetsk Oblast.txt
  history/states/1086-Mykolaiv.txt
  history/states/1087-Dnipropetrovsk.txt
  history/states/37-Schleswig-Holstein.txt
  history/states/39-Nordrhein-Westfalen.txt
  history/states/40-Rheinland-Pfalz.txt
  history/states/43-Bayern.txt
  history/states/694-Zaporizhzhia.txt
  history/states/966-Koln-Bonn.txt
  history/states/967-Saarland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

russia can see the EU now
  Changelog.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated satellite AI and specializations for industrial tech (#134)
  Changelog.txt
  common/scripted_diplomatic_actions/MD_missile_scripted_diplomatic_actions.txt
  common/scripted_triggers/MD_missile_scripted_triggers.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new special projects and expand naval/air/land techs
  common/ideas/!_special_project_ideas.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/missile_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/nuclear_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/MTG_naval.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
  common/units/MD_land_units.txt
  localisation/english/MD_units_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed markets for non-BBA
  common/on_actions/MD_market_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed/cleanup non-AAT designer (#137)
  common/country_leader/00_traits.txt
  common/country_leader/defense_company_traits.txt
  common/idea_tags/00_idea.txt
  common/ideas/!!_recursive_ideas.txt
  common/ideas/!Generic Defence Companies.txt
  common/ideas/zz_defence_companies.txt
  localisation/english/MD_cats_generic_defcomp_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the template for Pansarregementen for Sweden having a gap
  Changelog.txt
  history/units/SWE_2000_nsb_national_defence.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH randallite gui icons added
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_bg.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_box.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_mech_bg.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_progress_bar_active.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_progress_bar_inactive.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: none

EH layout save
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_mech_bg.dds
  interface/EH_scripted_gui.gui
Due: none

EH gui save + drones fix
  common/national_focus/EH_generic.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_mech_bg.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH mech production buttons improvement
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_cancel_box.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_factory_box.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH naming
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated changelog
  docs/changelogs.md
Due: none

EH hacs mech production button triggers
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/national_focus/uk.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH randallite window icon and more text
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_icon.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH randallite effects loc
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH events loc polishing + national spirit after invasion + randallite add effect
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

quick loc
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

changelog
  Changelog.txt
Due: none

EH randallite effects on the country
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/modifier_definitions/EH_modifier_definitions.txt
  common/national_focus/EH_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH loc
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH more loc
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH randallite effects improved + some national focuses + battlefield adaptation modifier loc improvement + randallite cost modifier
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/ideas/Event Horizon.txt
  common/modifier_definitions/EH_modifier_definitions.txt
  common/national_focus/EH_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH var name changed
  common/scripted_effects/99_EH_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH randallite focuses
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  common/technologies/custom_tech.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH loc fix
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

stopping serbia from killing itself via nato
  common/national_focus/serbia.txt
  events/Serbia.txt
  interface/countrydoctrinetreeview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More AI tweak for NKO
  events/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

s
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changed available to allowed
  common/decisions/categories/Sahrawi_decisions_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
