Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Correct file name
  common/scripted_localisation/99_SWE_scripted_localisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update replaced_from_faction_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

more tree work
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Britain.txt
  common/decisions/Britain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/decisions/Britain.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add drone torpedo techs and modules for ships
  common/technologies/MTG_naval.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix for Tank Doctrine
  common/doctrines/subdoctrines/land/land_equipment.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed style check issues
  common/characters/PHI.txt
  common/scripted_effects/PHI_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Expand naval tech tree with new years and rows
  common/technologies/MTG_naval.txt
  interface/countrytechtreeview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/equipment_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

First labor branch done
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the Netherlands obscene amount of ROI and improved the AI a smide for trade agreements
  Changelog.txt
  common/decisions/netherlands.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UK stuiff
  common/national_focus/uk.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  common/ideas/Swedish.txt
  common/ideas/zz_defence_companies.txt
  common/national_focus/sweden.txt
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_influence_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GitHub page CSS styling (#122)
  docs/assets/css/main.css
  docs/index.md
  docs/uploads/main-menu-2.png
  docs/uploads/main-menu.png
Due: none

GitHub pages 2 (#123)
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/changelogs.md
  docs/countries-list.md
  docs/dev-diaries-list.md
  docs/dev-resources/add-missile-icons.md
  docs/dev-resources/focus-tree-lifecycle-checklist.md
  docs/dev-resources/gfx-entry-generator.md
  docs/faq.md
  docs/player-tutorials/economy-tutorial.md
  docs/player-tutorials/eu-law-flowchart.md
  docs/player-tutorials/eu-tutorial.md
Due: none

feat: British war goal event chains
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: War goal event chains
  Changelog.txt
  common/scripted_effects/00_annexation_effects.txt
  events/annex_events_generic.txt
  localisation/english/MD_focus_African_Union_l_english.yml
  localisation/english/annex_events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: European union war goal event chains
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Caucasian war goal event chains
  common/national_focus/05_abkhazia.txt
  common/national_focus/05_south_ossetia.txt
  common/national_focus/chechnya.txt
  common/national_focus/georgia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: French war goal event chains
  common/national_focus/france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Japanese war goal event chains
  common/national_focus/japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Russian war goal event chains
  common/national_focus/russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

feat: Chinese war goal event chains
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: American war goal event chains
  common/national_focus/usa.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: German war goal event chains
  common/national_focus/germany.txt
  common/national_focus/spain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Turkish war goal event chains
  common/national_focus/turkey.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Indonesian war goal event chains
  common/national_focus/indonesia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Brazilian war goal event chains
  common/national_focus/brazil.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: South Korean war goal event chains
  common/national_focus/korea_south.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Indian war goal event chains
  common/national_focus/india.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

feat: Gulf state war goal event chains
  common/national_focus/gulf.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_EU_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/simp_chinese/MD_focus_EU_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_misc_l_simp_chinese.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
  localisation/simp_chinese/MD_traits_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_modifiers_l_simp_chinese.yml
Due: none

FRA decision
  common/decisions/France.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

minor corrections
  common/units/equipment/MD_electronic_equipment.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/MD_x_plane_airframes.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
