Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

004 African Union and AI
  common/national_focus/AfricanUnion_shared.txt
  common/technologies/engineering.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

updated website and descriptions to new version
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  docs/index.md
  docs/technical-support.md
Due: none

More updates to the website
  .gitignore
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/index.md
  docs/uploads/logo.png
Due: none

updated version again
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_EN.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  docs/index.md
  docs/technical-support.md
Due: none

updated
  history/countries/SWE - Sweden.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the European Union being unable to pass laws w/ the new OMT rework
  common/decisions/EU_voting_decisions.txt
  common/scripted_guis/01_european_union_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

005 AI and literacy adjustments, bugfixes
  common/national_focus/nigeria.txt
  common/scripted_effects/00_education_effects.txt
  common/technologies/engineering.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_CZE_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

FRA generals commi
  common/characters/FRA.txt
  common/decisions/France.txt
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
  gfx/leaders/FRA/Jean_pierre_meyer.dds
  gfx/leaders/FRA/Nicolas_Vaujour.dds
  gfx/leaders/FRA/garrigou_grandchamp.dds
  gfx/leaders/FRA/henri_bentengeat.dds
  gfx/leaders/FRA/small/Jean_pierre_meyer_small.dds
  gfx/leaders/FRA/small/Nicolas_Vaujour_small.dds
  gfx/leaders/FRA/small/garrigou_grandchamp_small.dds
  gfx/leaders/FRA/small/henri_bentengeat_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Delete game_rules_l_english.yml
  localisation/english/game_rules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed some minor issues w/ the European union from the rework
  Changelog.txt
  common/ai_strategy/USA.txt
  common/decisions/EU_voting_decisions.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Slight improvement to the AI and slighlty reduced cost of equipment
  Changelog.txt
  common/ideas/estonia.txt
  common/national_focus/05_estonia.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/MD_money_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Military focuses no loc
  common/dynamic_modifiers/16_SWI_dynamic_modifiers.txt
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/russian/MD_focus_EU_l_russian.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_frontend_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_frontend_l_russian.yml
Due: none

typo
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

more corrections
  common/script_enums.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/technologies/air_techs.txt
  common/technologies/infantry.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/MD_tank_chassis.txt
  localisation/braz_por/tank_modules_l_braz_por.yml
  localisation/english/tank_modules_l_english.yml
  localisation/french/tank_modules_l_french.yml
  localisation/japanese/tank_modules_l_japanese.yml
  localisation/korean/tank_modules_l_korean.yml
  localisation/polish/tank_modules_l_polish.yml
  localisation/russian/tank_modules_l_russian.yml
  localisation/simp_chinese/tank_modules_l_simp_chinese.yml
  localisation/spanish/tank_modules_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Bug fixes for doctrines and other things (#87)
  common/decisions/99_mp_decisions.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/doctrines/subdoctrines/sea/naval.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/korea_north.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/technologies/custom_tech.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed the inability to add faction goals
  Changelog.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  interface/factions/countryfactionview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update triggers, effects, and UI for ENG, HOL, BUL
  common/decisions/netherlands.txt
  common/national_focus/bulgaria.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_triggers/99_Commonwealth_Triggers.txt
  interface/countrystateview.gui
  interface/special_projects/facility.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

006 Chaebols and Rentier state
  common/ideas/Arab Spirits.txt
  common/ideas/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update 01_EU_USoE_shared.txt
  common/national_focus/01_EU_USoE_shared.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed some moinor reported issues and patched in new ship names
  Changelog.txt
  common/decisions/Tajikistan.txt
  common/decisions/north_korea.txt
  common/ideas/Swedish.txt
  common/scripted_effects/00_money_system.txt
  common/units/names_ships/USA_ship_names.txt
  events/China.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more tree work
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed the various minor issues in the game w/ respects to support ships and more
  Changelog.txt
  common/collections/collections.txt
  common/factions/goals/faction_manifests.txt
  common/factions/rules/groups/rule_groups.txt
  common/units/equipment/MD_Support_Vessels.txt
  history/countries/NKO - North Korea.txt
  history/countries/TUR - Turkey.txt
  history/states/602-Pyongyang.txt
  localisation/english/MD_frontend_l_english.yml
  localisation/english/ncns_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changelogs
  docs/changelogs.md
Due: none

FRA
  common/decisions/France.txt
  common/decisions/categories/france_decision_categories.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove redundancies
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed
  common/national_focus/china.txt
  common/scripted_triggers/00_internal_factions_trigger.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

General Fixes (#95)
  Changelog.txt
  common/decisions/bulgaria.txt
  common/doctrines/subdoctrines/air/air.txt
  common/dynamic_modifiers/02_GER_dynamic_modifiers.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/idea_tags/00_idea.txt
  common/ideas/German.txt
  common/national_focus/germany.txt
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_localisation/99_GER_scripted_localisation.txt
  common/special_projects/projects/civilian_projects.txt
  common/technologies/custom_tech.txt
  common/units/equipment/MD_mtg_ships.txt
  events/Germany.txt
  events/Norway.txt
  history/countries/GER - Germany.txt
  interface/countrystateview.gui
  interface/factions/faction_research.gui
  interface/frontendmainview.gui
  interface/popupwindow.gui
  interface/special_projects/facility.gui
  interface/special_projects/facility_roster.gui
  localisation/braz_por/MD_focus_GER_l_braz_por.yml
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
  localisation/english/MD_misc_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/MD_focus_GER_l_french.yml
  localisation/german/MD_focus_GER_l_german.yml
  localisation/japanese/MD_focus_GER_l_japanese.yml
  localisation/korean/MD_focus_GER_l_korean.yml
  localisation/polish/MD_focus_GER_l_polish.yml
  localisation/russian/MD_focus_GER_l_russian.yml
  localisation/simp_chinese/MD_focus_GER_l_simp_chinese.yml
  localisation/spanish/MD_focus_GER_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Indian Generic operative + generals
  gfx/leaders/generic_generals/india/india_general_1.dds
  gfx/leaders/generic_generals/india/india_general_10.dds
  gfx/leaders/generic_generals/india/india_general_11.dds
  gfx/leaders/generic_generals/india/india_general_2.dds
  gfx/leaders/generic_generals/india/india_general_3.dds
  gfx/leaders/generic_generals/india/india_general_4.dds
  gfx/leaders/generic_generals/india/india_general_5.dds
  gfx/leaders/generic_generals/india/india_general_6.dds
  gfx/leaders/generic_generals/india/india_general_7.dds
  gfx/leaders/generic_generals/india/india_general_8.dds
  gfx/leaders/generic_generals/india/india_general_9.dds
  gfx/leaders/generic_generals/india/small/india_general_10_small.dds
  gfx/leaders/generic_generals/india/small/india_general_11_small.dds
  gfx/leaders/generic_generals/india/small/india_general_1_small.dds
  gfx/leaders/generic_generals/india/small/india_general_2_small.dds
  gfx/leaders/generic_generals/india/small/india_general_3_small.dds
  gfx/leaders/generic_generals/india/small/india_general_4_small.dds
  gfx/leaders/generic_generals/india/small/india_general_5_small.dds
  gfx/leaders/generic_generals/india/small/india_general_6_small.dds
  gfx/leaders/generic_generals/india/small/india_general_7_small.dds
  gfx/leaders/generic_generals/india/small/india_general_8_small.dds
  gfx/leaders/generic_generals/india/small/india_general_9_small.dds
  gfx/leaders/generic_operatives/india/india_spy_1.dds
  gfx/leaders/generic_operatives/india/india_spy_10.dds
  gfx/leaders/generic_operatives/india/india_spy_11.dds
  gfx/leaders/generic_operatives/india/india_spy_12.dds
  gfx/leaders/generic_operatives/india/india_spy_2.dds
  gfx/leaders/generic_operatives/india/india_spy_3.dds
  gfx/leaders/generic_operatives/india/india_spy_4.dds
  gfx/leaders/generic_operatives/india/india_spy_5.dds
  gfx/leaders/generic_operatives/india/india_spy_6.dds
  gfx/leaders/generic_operatives/india/india_spy_7.dds
  gfx/leaders/generic_operatives/india/india_spy_8.dds
  gfx/leaders/generic_operatives/india/india_spy_9.dds
Due: none

FRA gen fix
  common/characters/FRA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix fra 2
  common/characters/FRA.txt
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Missing String
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed some other stuff
  Changelog.txt
  common/characters/PHI.txt
  common/ideas/zzz_army_spirits.txt
  common/opinion_modifiers/USA.txt
  common/scripted_effects/PHI_political_leaders.txt
  history/countries/PHI - Philippines.txt
  interface/MD_parties_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
