Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Improved NATO aspirant AI
  Changelog.txt
  common/decisions/NATO.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Flavor work
  common/factions/goals/faction_csto_goals.txt
  common/factions/rules/peace_rules.txt
  common/factions/templates/99_SOV.txt
  common/national_focus/iran.txt
  common/peace_conference/cost_modifiers/faction_peace_action_modifiers.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH war starts
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more faction work
  common/factions/rules/peace_rules.txt
  common/ideas/Russian.txt
  common/national_focus/turkey.txt
  common/peace_conference/cost_modifiers/faction_peace_action_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA decision
  common/decisions/France.txt
  common/decisions/categories/france_decision_categories.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revamp UK economy focus tree with new branches
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

hijacked branch & ct content
  gfx/interface/scripted_gui/ger/GFX_GER_bfv_background_gui.dds
  interface/GER_German_guis.gui
  interface/MD_GER_decisions.gfx
Due: none

better compatibility
  common/factions/rules/joining_rules.txt
  common/factions/rules/peace_rules.txt
  common/factions/templates/99_SOV.txt
  common/peace_conference/cost_modifiers/faction_peace_action_modifiers.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

works
  common/factions/goals/faction_csto_goals.txt
  common/factions/rules/joining_rules.txt
  common/factions/templates/99_SOV.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH save
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new British economic decisions and focus improvements
  common/decisions/Britain.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/ideas/britain.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/United Kingdom.txt
  history/countries/ENG - United Kingdom.txt
  history/states/9-Central Belt.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Britain.txt
  common/decisions/Britain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update uk.txt
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes and some changes
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  events/!!CAC_events.txt
  gfx/interface/companies_and_corporations/cac_has_ceo_icon.dds
  interface/CAC_scripted_guis.gfx
  interface/CAC_scripted_guis.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/on_actions/CAC_on_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated Authors and description
  descriptions/descriptions_EN.txt
  docs/_config.yml
  docs/index.md
  docs/misc/authors.md
  docs/technical-support.md
Due: none

work
  common/factions/templates/99_USA.txt
  gfx/entities/USA_MD4_planes.asset
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

small changes
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_guis/GER_German_guis.txt
  common/scripted_localisation/German_debug_scripted_localisation.txt
  interface/GER_German_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

work
  common/factions/goals/faction_aor_goals.txt
  common/factions/rules/groups/rule_groups.txt
  common/factions/rules/joining_rules.txt
  common/factions/rules/peace_rules.txt
  common/factions/templates/99_PER.txt
  common/factions/templates/99_SOV.txt
  common/ideas/Russian.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH megastate events polishing
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Expand UK industry, resources, and productivity systems
  common/decisions/Britain.txt
  common/decisions/categories/united_kingdom_decision_categories.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/ideas/britain.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

dual scroll bar
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_localisation/German_debug_scripted_localisation.txt
  interface/GER_German_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH megastates united
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

working on bfv
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_guis/GER_German_guis.txt
  common/scripted_localisation/German_debug_scripted_localisation.txt
  interface/GER_German_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add HS2 and Northern Powerhouse Rail missions and modifiers
  common/decisions/Britain.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/national_focus/uk.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Western Autocracy support for Netherlands
  common/national_focus/netherlands.txt
  common/scripted_effects/HOL_political_leaders.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Dutch party names and focus conditions
  common/national_focus/netherlands.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update goals.gfx
  interface/goals.gfx
Due: none

Fixes
  common/bop/JAP.txt
  common/decisions/Japan.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  Modding resources/Brazil/BRA - Brazil (history file).txt
  Modding resources/East Africa Shit/EAC.txt
  Modding resources/Laven-PRC-Rework/CHI - China (history file).txt
  Modding resources/National Content/Italy/SCL - Sicily.txt
  Modding resources/National Content/Italy/unused focuses.txt
  Modding resources/OOBs/oob errors.txt
  Modding resources/ROC_Taiwan_Pack/history/countries/TAI - Taiwan.txt
  common/decisions/Japan.txt
  common/units/equipment/MD_Support_Vessels.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  history/countries/JPC - Japan United National Government.txt
  history/countries/JPK - Japan Restoration Government.txt
  history/countries/JPW - Japan Liberal Democratic Government.txt
  history/countries/KOJ - Japan Korean Republic.txt
  history/units/CAN_2000_nonnsb.txt
  history/units/CAN_2000_nsb.txt
  history/units/JAP_2000_MDMOSJAP.txt
  history/units/JAP_2000_naval_legacy_MDMOSJAP.txt
  history/units/JAP_2000_naval_mtg_MDMOSJAP.txt
  history/units/JAP_2000_nonnsb_MDMOSJAP.txt
  history/units/JAP_2000_nsb_MDMOSJAP.txt
  history/units/JAP_2017_MDMOSJAP.txt
  history/units/JAP_2017_MDMOSJAP_legacy.txt
  history/units/JAP_2017_naval_legacy_MDMOSJAP.txt
  history/units/JAP_2017_nonnsb_MDMOSJAP_legacy.txt
  history/units/JAP_2017_nsb_MDMOSJAP.txt
  localisation/braz_por/equipment_l_braz_por.yml
  localisation/english/equipment_l_english.yml
  localisation/french/equipment_l_french.yml
  localisation/japanese/equipment_l_japanese.yml
  localisation/korean/equipment_l_korean.yml
  localisation/polish/equipment_l_polish.yml
  localisation/russian/equipment_l_russian.yml
  localisation/simp_chinese/equipment_l_simp_chinese.yml
  localisation/spanish/equipment_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/bop/JAP.txt
  common/decisions/Japan.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/scripted_triggers/00_game_rule_triggers.txt
  common/scripted_triggers/mdmosjap_JAP_scripted_triggers.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  history/countries/KOJ - Japan Korean Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/bookmarks/blitzkrieg.txt
  common/bop/JAP.txt
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/special_forces.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH events
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

russia improvements
  common/national_focus/iran.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Russia.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Implement Japan Article 9 power balance and EAEC focus
  Changelog.txt
  common/bop/JAP.txt
  common/decisions/Japan.txt
  common/decisions/USA.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/opinion_modifiers/Japan.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  common/scripted_triggers/00_desired_law_triggers.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_misc_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove Duplicate
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_misc_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding
