Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Optimize EUU History File (#146)
  Changelog.txt
  common/decisions/EU_voting_decisions.txt
  common/decisions/categories/EU_voting_categories.txt
  common/decisions/categories/formable_nations.txt
  common/national_focus/usa.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  events/EU_events.txt
  history/countries/EUU - EU.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix #153: Improved the AI for the Libyan Tribal Mechanics (#155)
  Changelog.txt
  common/decisions/libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Complete fix for Issue #149: Add remaining 90 missing Georgian focus descriptions (#167)
  Changelog.txt
  localisation/english/MD_focus_GEO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixing and updating
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
  common/scripted_effects/99_UOE_scripted_effects.txt
  events/UOE_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added a new "AIR Academy Spirits" section to the graphics file with icon definitions for all (I hope) 6 missing air force academy spirits: (#178)
  Changelog.txt
  interface/officer_corp_spirits.gfx
Due: none

EH find new veins decisions
  common/decisions/EH_decisions.txt
  common/decisions/categories/EH_decision_category.txt
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/national_focus/EH_generic.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH more precious than gold decisions
  common/decisions/EH_decisions.txt
  common/national_focus/EH_generic.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EU patch
  Changelog.txt
  common/decisions/EU_voting_decisions.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/scripted_guis/01_european_union_guis.txt
  localisation/english/MD_focus_EU_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed
  common/decisions/categories/Sahrawi_decisions_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

USAID changes
  common/ideas/United States.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

maduro raid
  Changelog.txt
  common/decisions/USA.txt
  common/raids/special_forces_raids.txt
  events/United States.txt
  gfx/interface/military_raids/map_icons/USA_raid_venezuela.dds
  interface/military_raids/MD_military_raids.gfx
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH focus effects + find new veins var values change
  common/decisions/EH_decisions.txt
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH mech production p.1
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_button.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH trigger
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH more mechs production p2
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_quantity_bg.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed issue #166 about duplicates in .yml files (#179)
  Changelog.txt
  localisation/english/replace/replaced_from_deployment_l_english.yml
  localisation/english/replace/replaced_from_faction_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/french/FR_LOCKEYS_l_french.yml
  resources/Brazil/MD_focus_BRA_l_english.yml
  resources/Laven-PRC-Rework/MD_ideas_l_english.yml
  resources/National Content/USA (Gearz)/localisation/MD_USA_focus_l_english.yml
  resources/National Content/USA (Gearz)/localisation/MD_USA_focus_l_french.yml
  resources/National Content/USA DJT/focus_USA_donald_trump_l_english.yml
  resources/ROC_Taiwan_Pack/localisation/english/MD_focus_TAI_l_english.yml
  resources/Space System/MD_space.yml
Due: validate-localization-encoding, fix-localization-encoding

EH fix research sites events
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH hacs filenames fix
  gfx/entities/MD_HACS.gfx
  gfx/models/units/HACS/HACS_SAS32_attack_1.anim
  gfx/models/units/HACS/HACS_SAS32_attack_2.anim
  gfx/models/units/HACS/HACS_SAS32_attack_3.anim
  gfx/models/units/HACS/HACS_SAS32_idle.anim
  gfx/models/units/HACS/HACS_SAS32_move.anim
  gfx/models/units/HACS/HACS_animation.asset
Due: none

Fix of issue #192: Replace all references to USA_chrisitian_influence with proper ideas (#198)
  Changelog.txt
  common/ideas/Abkhazian.txt
  common/ideas/Georgian.txt
  common/ideas/bulgarian.txt
  common/national_focus/05_abkhazia.txt
  common/national_focus/bulgaria.txt
  common/national_focus/georgia.txt
  localisation/english/MD_focus_ABK_l_english.yml
  localisation/english/MD_focus_BUL_l_english.yml
  localisation/english/MD_focus_GEO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH hacs mech subunit + icons + equipment (not working)
  common/ideas/Event Horizon.txt
  common/script_enums.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
  gfx/interface/counters/division_templates_large/EH_custom_template_000.dds
  gfx/interface/counters/division_templates_small/EH_custom_template_000.dds
  gfx/interface/counters/divisions_large/EH_HACS.dds
  gfx/interface/counters/divisions_small/onmap_unit_EH_HACS_icon.dds
  interface/subuniticons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH mech equipment save
  common/script_enums.txt
  common/technologies/infantry.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Finished 2nd labor tree
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes and flags
  Changelog.txt
  common/decisions/Country Flag Decisions.txt
  common/decisions/categories/different_country_flags.txt
  common/units/MD_land_units.txt
  docs/misc/authors.md
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Changelog.txt
  Changelog.txt
Due: none

updated Armenia resource pool
  Changelog.txt
  history/states/709-Yerevan-Gmyri.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add icons and new light walker tank project
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Technocrat Party Tree
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH mech equipment
  common/technologies/infantry.txt
  common/units/equipment/EH_HACS_mech.txt
  gfx/interface/technologies/EH/LAND/HACS_0.dds
  interface/Technologies.gfx
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

REmoved morocco being on here accidentally
  common/decisions/99_morocco_decisions.txt
  common/decisions/categories/00_morocco_category.txt
  common/national_focus/france.txt
  common/national_focus/morocco.txt
  common/scripted_effects/99_MOR_scripted_effects.txt
  events/Morocco.txt
  history/countries/MOR - Morocco.txt
  localisation/english/MD_focus_MOR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

removed
  common/bop/MOR.txt
  common/ideas/MOR.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed other issues
  common/national_focus/AfricanUnion_shared.txt
  common/national_focus/gulf_shared.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

yes
  localisation/english/MD_focus_SIN_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

stuff
  localisation/braz_por/MD_dynamic_scripting_l_braz_por.yml
  localisation/french/MD_dynamic_scripting_l_french.yml
  localisation/polish/MD_dynamic_scripting_l_polish.yml
  localisation/russian/MD_dynamic_scripting_l_russian.yml
  localisation/simp_chinese/MD_dynamic_scripting_l_simp_chinese.yml
  localisation/spanish/MD_dynamic_scripting_l_spanish.yml
Due: none

Error Log First go Around
  common/decisions/Japan.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/AA_law_military_ideas.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/on_actions/99_JAP_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  events/Japan.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed crash
  common/on_actions/00_on_actions.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Event Loc and some other things
  localisation/english/MD_focus_JAP_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix
  sound/per/pe_idle_001.wav
Due: none

Fixes #51 - Refactors the Power Ranking System (#211)
  Changelog.txt
  common/factions/goals/faction_csto_goals.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_power_ranking_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Problem: Focus was bypassing when Armenia joined ANY faction, preventing players from creating their own faction. (#212)
  Changelog.txt
  common/national_focus/armenia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
