Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

FRA king
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Regular update
  localisation/simp_chinese/0_energy_l_simp_chinese.yml
  localisation/simp_chinese/MD_counter_ui_l_simp_chinese.yml
  localisation/simp_chinese/MD_countries_cosmetic_l_simp_chinese.yml
  localisation/simp_chinese/MD_decisions_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_BLR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_CHI_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_KOR_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_PER_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_POL_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SIN_l_simp_chinese.yml
  localisation/simp_chinese/MD_focus_SWE_l_simp_chinese.yml
  localisation/simp_chinese/MD_game_rules_l_simp_chinese.yml
  localisation/simp_chinese/MD_ideas_l_simp_chinese.yml
  localisation/simp_chinese/MD_investments_l_simp_chinese.yml
  localisation/simp_chinese/MD_map_modes_l_simp_chinese.yml
  localisation/simp_chinese/MD_money_l_simp_chinese.yml
  localisation/simp_chinese/MD_subideology_parties_l_simp_chinese.yml
  localisation/simp_chinese/MD_techs_l_simp_chinese.yml
  localisation/simp_chinese/loading_tips_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_focus_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_buildings_l_simp_chinese.yml
  localisation/simp_chinese/replace/replaced_from_vanilla_modifiers_l_simp_chinese.yml
Due: none

Iran recruitable population localisation fix (#21)
  localisation/braz_por/MD_focus_PER_l_braz_por.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/french/MD_focus_PER_l_french.yml
  localisation/japanese/MD_focus_PER_l_japanese.yml
  localisation/korean/MD_focus_PER_l_korean.yml
  localisation/polish/MD_focus_PER_l_polish.yml
  localisation/russian/MD_focus_PER_l_russian.yml
  localisation/simp_chinese/MD_focus_PER_l_simp_chinese.yml
  localisation/spanish/MD_focus_PER_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

FRA roy
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra roy
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

🐛 Fixed Incorrect state transfer and tech inherit for Catalunya independent event. (#24)
  Changelog.txt
  events/Spain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Belarus USA fp
  Changelog.txt
  common/decisions/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Loc Fix for Patrol Boats
  localisation/english/equipment_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

focus tree code styling fix
  common/national_focus/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

idea + decision code styling fix
  common/decisions/Algeria.txt
  common/ideas/Algerian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Some mutually exclusive adjustment in China focus
  common/decisions/China.txt
  common/national_focus/china.txt
  events/Taiwan.txt
  localisation/english/MD_focus_CHI_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

minor changes
  common/on_actions/CAC_on_actions.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed GUI since they added a Slider to the Mastery
  interface/doctrines/doctrines_view.gui
Due: none

updated and cleaned up
  docs/_config.yml
  docs/faq.md
  docs/index.md
  docs/player-tutorials/troubleshooting-guide.md
  docs/technical-support.md
Due: none

removed readme irrelvant comment
  README.md
Due: none

deleting .gitlab
  .gitlab/issue_templates/.gitkeep
  .gitlab/issue_templates/BugReport.md
  .gitlab/issue_templates/FocusTreeIssue.md
  .gitlab/issue_templates/OtherProjectIssue.md
  .gitlab/merge_request_templates/.gitkeep
  .gitlab/merge_request_templates/Default.md
Due: none

fixed some minor stuff
  Changelog.txt
  common/opinion_modifiers/new_opinion_modifiers.txt
  history/countries/SWE - Sweden.txt
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed
  common/national_focus/05_vatican_city.txt
  events/Vatican.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/french/FR_LOCKEYS_l_french.yml
Due: none

Added some new completion rewards for foci
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added Checks for Doctrines
  common/doctrines/grand_doctrines/air_doctrine.txt
  common/doctrines/grand_doctrines/land_equipment.txt
  common/doctrines/subdoctrines/air/air.txt
  common/doctrines/subdoctrines/land/land_doctrines_combat.txt
  common/doctrines/subdoctrines/land/land_doctrines_supporting.txt
  common/doctrines/subdoctrines/land/land_equipment.txt
  common/doctrines/subdoctrines/sea/naval.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Formatting
  docs/changelogs.md
Due: none

Small content about democratization of China
  common/national_focus/china.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_EGY_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Duplicate loc cleanup
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

some quick stuff
  common/factions/goals/faction_goals_medium_term.txt
  common/factions/goals/faction_goals_short_term.txt
  common/ideas/!_generic_faction_goals.txt
  localisation/english/replace/replaced_from_faction_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra king
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed Spanish OOB
  Changelog.txt
  history/countries/SPR - Spain.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH scientists update
  common/ideas/Event Horizon.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH major scientists update, Research Site raid fix
  common/decisions/EH_decisions.txt
  common/national_focus/EH_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH trigger update
  common/national_focus/EH_generic.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH special project tweaks
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes and implemented ceo bonuses system
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_triggers/00_CAC_scripted_triggers.txt
  interface/CAC_scripted_guis.gui
  interface/CAC_upgrades/CAC_type_0.gui
  interface/military_industrial_organization/industrial_organization_detail.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH special project polishing
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  events/Project Threshold.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
