Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

HUN country leader traits fix
  history/countries/HUN - Hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fukushima Nuclear Power Plant Accident
  common/ideas/Japanese.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Resource-storage localisation
  common/scripted_guis/Resource_storage_gui.txt
  interface/resource_storage.gui
  localisation/english/MD_resource_storage_I_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

completed arms deals decision
  common/decisions/Switzerland.txt
  common/decisions/categories/switzerland_categories.txt
  common/national_focus/switzerland.txt
  events/Switzerland.txt
  localisation/english/MD_decisions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor and expand naval drone torpedo modules
  common/special_projects/projects/naval_projects.txt
  common/technologies/MTG_naval.txt
  common/units/equipment/modules/MD_ship_modules.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_ship_modules.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new naval drone modules and fusion engine techs
  common/special_projects/projects/naval_projects.txt
  common/technologies/MTG_naval.txt
  common/units/equipment/modules/MD_ship_modules.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add naval railgun battery modules and tech
  common/special_projects/projects/naval_projects.txt
  common/technologies/MTG_naval.txt
  common/units/equipment/modules/MD_ship_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add heavy tank chassis 5 and 6, update air techs
  common/script_enums.txt
  common/technologies/air_techs.txt
  common/units/equipment/MD_tank_chassis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove loc and Fix several errors
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN files setup
  common/decisions/Hungary.txt
  common/decisions/categories/hungary_decision_categories.txt
  events/Hungary.txt
  localisation/english/MD_focus_HUN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restore China’s NF events
  events/Japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove article nine idea
  common/doctrines/grand_doctrines/air_doctrine.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove some loc and adjust Emperor and Mori events.
  common/scripted_effects/00_yearly_effects.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove Spirit of the warrior decision
  common/decisions/Political Desicions.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add land drone equipment, walker tanks, and new naval modules
  common/script_enums.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/MTG_naval.txt
  common/units/MD_land_units.txt
  common/units/equipment/MD_infantry equipment.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_ship_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN zoltan pokorni attacked with pillows
  common/scripted_effects/00_yearly_effects.txt
  events/Hungary.txt
  gfx/event_pictures/europe/hungary - HUN/HUN_zoltan_pokorni_event_picture.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_HUN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GDP Graph - Number Nerds (#295)
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_gdp_display_scripted_effects.txt
  common/scripted_guis/01_construction_menu_gui.txt
  common/scripted_guis/gdp_scripted_ui.txt
  gfx/interface/graphmarker.dds
  interface/gdp_graph.gfx
  interface/gdp_graph.gui
  localisation/english/MD_gdp_graph_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN t34 hijacked
  common/scripted_effects/00_yearly_effects.txt
  events/Hungary.txt
  gfx/event_pictures/europe/hungary - HUN/HUN_t34_hijacked_event_picture.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_HUN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

RBP Path Completed
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add walker tank chassis and modules
  common/decisions/categories/00_decision_categories.txt
  common/decisions/debug_decisions.txt
  common/script_enums.txt
  common/special_projects/projects/tank_module_projects.txt
  common/unit_tags/00_categories.txt
  common/units/MD_land_units.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/MD_x_tank_chassis.txt
  common/units/equipment/modules/MD_tank_modules.txt
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_chassis.gui
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Bugs Fixes for the Nation
  common/bookmarks/blitzkrieg.txt
  common/decisions/Algeria.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More Fixes
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Every Country Microoptimization (#299)
  common/decisions/Belarus.txt
  common/decisions/EU_voting_decisions.txt
  common/decisions/bankruptcy_decisions.txt
  common/national_focus/05_bashkiriya.txt
  common/national_focus/05_transnistria.txt
  common/national_focus/Belarus.txt
  common/national_focus/Khanti-mansi.txt
  common/national_focus/Kuban.txt
  common/national_focus/Tatarstan.txt
  common/national_focus/Ural.txt
  common/national_focus/armenia.txt
  common/national_focus/canada.txt
  common/national_focus/chechnya.txt
  common/national_focus/denmark.txt
  common/national_focus/ethiopia.txt
  common/national_focus/finland.txt
  common/national_focus/greece.txt
  common/national_focus/gulf.txt
  common/national_focus/india.txt
  common/national_focus/indonesia.txt
  common/national_focus/iran.txt
  common/national_focus/iraq2.txt
  common/national_focus/italy.txt
  common/national_focus/korea_unified.txt
  common/national_focus/liechtenstein.txt
  common/national_focus/montenegro.txt
  common/national_focus/nigeria.txt
  common/national_focus/norway.txt
  common/national_focus/serbia.txt
  common/national_focus/singapore.txt
  common/national_focus/spain.txt
  common/national_focus/sweden.txt
  common/national_focus/tajikistan.txt
  common/on_actions/999_game_rules_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Armenia.txt
  events/MD_Elections.txt
  events/Vitebsk.txt
  events/belarus.txt
  events/centralasia_events.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Expand naval equipment module categories and slots
  common/decisions/debug_decisions.txt
  common/special_projects/projects/naval_projects.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/MD_x_tank_chassis.txt
  common/units/equipment/modules/MD_ship_modules.txt
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_artillery.gui
  interface/equipmentdesigner/tanks/tank_chassis_super_heavy_tank_destroyer.gui
  localisation/english/MD_techs_l_english.yml
  localisation/english/equipment_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new naval drone control and weapon module categories
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/modules/MD_tank_modules.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add support for 'All Medium Aircraft' equipment category
  common/military_industrial_organization/organizations/MD_CHI_organizations.txt
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN Malev airline events
  common/scripted_effects/00_yearly_effects.txt
  events/Hungary.txt
  gfx/event_pictures/europe/hungary - HUN/HUN_malev_bankruptcy_event_picture.dds
  gfx/event_pictures/europe/hungary - HUN/HUN_ryanair_wizz_air_saves_tourism_event_picture.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_HUN_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restore initial ideas setup and depopulation events.
  common/scripted_effects/00_yearly_effects.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
  tools/validate_localization_encoding.py
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update 00_on_actions.txt
  common/on_actions/00_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

jpn loc for military tree
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: none

Finished the initial national ideas
  common/ideas/HUN.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_focus_HUN_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add walker tanks, space artillery, and new modules
  common/equipment_groups/mio_equipment_groups.txt
  common/ideas/!_special_project_ideas.txt
  common/script_enums.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/event_horizon_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/units/MD_land_units.txt
  common/units/equipment/MD_artillery.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/modules/MD_arty_modules.txt
  common/units/equipment/modules/MD_helicopter_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  localisation/english/MD_new_unit_categories_l_english.yml
  localisation/english/MD_units_l_english.yml
  localisation/english/attack_helicopter_modules_l_english.yml
  localisation/english/plane_designer_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update tank and air projects, modules, and localisation
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  localisation/english/MD_mio_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

economic tree loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

Increase infrastructure building cap and update smart grid tech
  common/buildings/00_buildings.txt
  common/special_projects/projects/civilian_projects.txt
  common/technologies/industry.txt
  common/technologies/special_project_hidden_techs.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add sprite definitions for intelligence agency advisor traits (#310)
  common/country_leader/01_military_advisor_traits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Japanese scientists and update party localisations
  common/characters/JAP.txt
  common/national_focus/japan.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
