Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding, check-braces

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
  check-braces: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$

fix
  common/national_focus/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Money Additional Income + Expenses Display Optimization (#450)
  common/ideas/Belarusian.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  docs/dev-resources/code-resource.md
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

test this
  tools/gfx_entry_generator.py
Due: none

Update 99_ENG_scripted_effects..txt
  common/scripted_effects/99_ENG_scripted_effects..txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

fixes
  common/national_focus/05_united_kingdom.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  common/unit_leader/01_army_leader_traits.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Stuff
  common/country_leader/ENG_traits.txt
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  history/countries/ENG - United Kingdom.txt
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

finalizing UI and getting actions ready
  Changelog.txt
  common/intelligence_agency_upgrades/intelligence_agency_upgrades.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/replace/replaced_from_operatives_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Inner Circle Done
  common/country_leader/ENG_traits.txt
  common/ideas/United_Kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

more work
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_budget.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

w
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

even more work getting it all setup and ready
  common/ideas/Various.txt
  common/scripted_effects/00_ct_effects.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

fixes
  common/ideas/Algerian.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Comoros Custodian Pt. 2 (#455)
  common/decisions/05_comoros_decisions.txt
  common/game_rules/00_game_rules.txt
  common/ideas/Comorosian.txt
  common/national_focus/05_comoros.txt
  common/on_actions/07_nsb_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  events/comoros.txt
  gfx/flags/TNZ_NOZAN_communism.tga
  gfx/flags/TNZ_NOZAN_democratic.tga
  gfx/flags/TNZ_NOZAN_fascism.tga
  gfx/flags/TNZ_NOZAN_nationalist.tga
  gfx/flags/TNZ_NOZAN_neutrality.tga
  gfx/flags/medium/TNZ_NOZAN)_democratic.tga
  gfx/flags/medium/TNZ_NOZAN_communism.tga
  gfx/flags/medium/TNZ_NOZAN_fascism.tga
  gfx/flags/medium/TNZ_NOZAN_nationalist.tga
  gfx/flags/medium/TNZ_NOZAN_neutrality.tga
  gfx/flags/small/TNZ_NOZAN_communism.tga
  gfx/flags/small/TNZ_NOZAN_democratic.tga
  gfx/flags/small/TNZ_NOZAN_fascism.tga
  gfx/flags/small/TNZ_NOZAN_nationalist.tga
  gfx/flags/small/TNZ_NOZAN_neutrality.tga
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_COM_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_money_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
  localisation/english/replace/replaced_from_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

another push just to update it
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

event work
  common/scripted_effects/00_ct_effects.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

testing performance
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

typo
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

a few more tweaks
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

adding events and stuff
  common/scripted_effects/00_ct_effects.txt
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

trying to fix this weird ass bug
  common/ideas/AA_corruption_laws.txt
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

even more work and bugfixing, and optimization
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Added Additional Allowed + Fixed Taiwan Event (#457)
  common/decisions/Iran.txt
  common/decisions/Turkey.txt
  common/decisions/USA.txt
  common/decisions/categories/Netherlands_decision_categories.txt
  common/decisions/categories/Syria_decision_categories.txt
  common/decisions/categories/armenia_decision_categories.txt
  common/decisions/categories/belarus_decision_categories.txt
  common/decisions/categories/bos_decision_categories1.txt
  common/decisions/categories/iran_decision_categories.txt
  common/decisions/categories/iraq_decision_categories.txt
  common/decisions/categories/italy_decision_categories.txt
  common/decisions/categories/migration_central_asia_category.txt
  common/decisions/categories/norway_decisions_categories.txt
  common/decisions/categories/romania_decision_categories.txt
  common/decisions/categories/turkey_decision_categories.txt
  common/decisions/categories/ukraine_decision_categories.txt
  common/decisions/migration_central_asia_decisions.txt
  common/ideas/centralasian.txt
  common/national_focus/syria.txt
  events/United States.txt
  localisation/english/MD_focus_CES_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

rolled over to multiple smaller, isolated loops; seemes to have helped?
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

this may be too schizo, but it may work
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

one last tweak before bed, lets see how this goes
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Update 00_buildings.txt
  common/buildings/00_buildings.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

struff
  common/decisions/GER.txt
  common/ideas/German.txt
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

Update 00_game_rules.txt
  common/game_rules/00_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

stuff
  common/doctrines/subdoctrines/land/land_equipment.txt
  localisation/english/MD_doctrines_ncns_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

styu
  common/military_industrial_organization/policies/_air_policies.txt
  common/military_industrial_organization/policies/_general_policies.txt
  common/military_industrial_organization/policies/_land_policies.txt
  common/military_industrial_organization/policies/_navy_policies.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

stuyff
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

stuff
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/national_focus/netherlands.txt
  events/united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

Monarchism
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

fix
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/opinion_modifiers/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, check-braces

stuff
  common/national_focus/05_united_kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-braces

EH tesla weapon buttons
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_airframe.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_airframe_completed.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_emp.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_emp_completed.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_neutralizer.dds
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_neutralizer_completed.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding
