Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Add British monarchy advisors and traits
  common/characters/ENG.txt
  common/country_leader/00_traits.txt
  common/defines/MD_defines.lua
  common/ideas/britain.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

energy consumption
  common/technologies/industry.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work setting up inflation for inital testing
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_money_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/decisions/protests.txt
  common/ideas/Iranian.txt
  common/ideas/protest_ideas.txt
  events/protests.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_ideas_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  events/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_protests_effects.txt
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_on_actions.txt
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update protests.txt
  events/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/decisions/protests.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_triggers/99_protests_scripted_triggers.txt
  events/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added inflation to all expenses
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added economic cycle impact to inflation adjustments
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_economic_effects.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

gfc pt2 (#328)
  common/ideas/United States.txt
  common/scripted_effects/00_yearly_effects.txt
  events/United States.txt
  localisation/english/MD_focus_USA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing modifer, adjusted how math works for calculating inflation
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor: Transition advisor slots from political to intelligence for improved categorization and auto-activate intelligence advisors globally (#325)
  common/characters/00_generic_intel_advisors.txt
  common/characters/ENG.txt
  common/characters/FRA.txt
  common/characters/GER.txt
  common/characters/SOV.txt
  common/characters/USA.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

syuff
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Finished one of the Hacking Tasks
  common/autonomous_states/MD_korea_autonomies.txt
  common/decisions/north_korea.txt
  common/national_focus/korea_confederation.txt
  events/Korea.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

capped inflation movement
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Updated
  common/scripted_effects/!_energy_effects.txt
  common/technologies/industry.txt
  localisation/english/0_energy_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

changed how some of the math was done, to make it better
  common/scripted_effects/00_economic_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 01_american_decision_categories.txt
  common/decisions/categories/01_american_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed Tonk Turret Bug
  common/units/equipment/modules/MD_tank_modules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed script enum
  common/script_enums.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

NF tt loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/braz_por/MD_africa_events_l_braz_por.yml
  localisation/braz_por/MD_bookmarks_l_braz_por.yml
  localisation/braz_por/MD_countries_cosmetic_l_braz_por.yml
  localisation/braz_por/MD_decisions_flags_l_braz_por.yml
  localisation/braz_por/MD_decisions_l_braz_por.yml
  localisation/braz_por/MD_focus_ABK_l_braz_por.yml
  localisation/braz_por/MD_focus_BLR_l_braz_por.yml
  localisation/braz_por/MD_focus_BOL_l_braz_por.yml
  localisation/braz_por/MD_focus_BUL_l_braz_por.yml
  localisation/braz_por/MD_focus_CES_l_braz_por.yml
  localisation/braz_por/MD_focus_CUB_l_braz_por.yml
  localisation/braz_por/MD_focus_EGY_l_braz_por.yml
  localisation/braz_por/MD_focus_GEO_l_braz_por.yml
  localisation/braz_por/MD_focus_IND_l_braz_por.yml
  localisation/braz_por/MD_focus_IRQ_l_braz_por.yml
  localisation/braz_por/MD_focus_ITA_l_braz_por.yml
  localisation/braz_por/MD_focus_KOR_l_braz_por.yml
  localisation/braz_por/MD_focus_KUR_l_braz_por.yml
  localisation/braz_por/MD_focus_POL_l_braz_por.yml
  localisation/braz_por/MD_focus_SER_VOJ_MNT_l_braz_por.yml
  localisation/braz_por/MD_focus_SIN_l_braz_por.yml
  localisation/braz_por/countries_l_braz_por.yml
  localisation/braz_por/events_l_braz_por.yml
  localisation/french/MD_bookmarks_l_french.yml
  localisation/german/MD_bookmarks_l_german.yml
  localisation/japanese/MD_bookmarks_l_japanese.yml
  localisation/japanese/MD_countries_cosmetic_l_japanese.yml
  localisation/japanese/MD_scripted_diplomatic_actions_l_japanese.yml
  localisation/japanese/MD_techs_l_japanese.yml
  localisation/japanese/victory_points_l_japanese.yml
  localisation/korean/MD_bookmarks_l_korean.yml
  localisation/polish/MD_bookmarks_l_polish.yml
  localisation/russian/MD_bookmarks_l_russian.yml
  localisation/simp_chinese/MD_bookmarks_l_simp_chinese.yml
  localisation/spanish/MD_bookmarks_l_spanish.yml
Due: none

More foreign policy tree work done
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
  common/opinion_modifiers/SWI_opinion_modifiers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix invalid `create_unit` parameters across focus trees and decisions (#335)
  Changelog.txt
  common/decisions/Iran.txt
  common/national_focus/bolivia.txt
  common/national_focus/serbia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Version increment
  Changelog.txt
  descriptions/descriptions_BR.txt
  descriptions/descriptions_DE.txt
  descriptions/descriptions_ES.txt
  descriptions/descriptions_FR.txt
  descriptions/descriptions_JP.txt
  descriptions/descriptions_KR.txt
  descriptions/descriptions_PL.txt
  descriptions/descriptions_RU.txt
  descriptions/descriptions_SC.txt
  descriptions/descriptions_TC.txt
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

idea loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

intel network
  common/continuous_focus/generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fra
  common/national_focus/france.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add "Liberal Arms Export Policy" focus for France with related events and localization
  common/national_focus/france.txt
  common/opinion_modifiers/French.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add British monarchy 'Inner Circle' content
  common/decisions/Britain.txt
  common/decisions/categories/united_kingdom_decision_categories.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/ideas/britain.txt
  common/national_focus/uk.txt
  common/opinion_modifiers/Britain.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  common/scripted_triggers/99_ENG_scripted_triggers.txt
  events/United Kingdom.txt
  gfx/interface/inner_circle/ENG/ascended_advisors_unappointed_frame_england.dds
  gfx/interface/inner_circle/ENG/inner_circle_leader_queen_elisabeth.dds
  gfx/interface/inner_circle/ascended_advisors_frame_purple.dds
  gfx/interface/inner_circle/circular_frame_purple.dds
  gfx/interface/inner_circle/purple_name_ribbon.dds
  interface/inner_circles/ENG_inner_circle.gfx
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Expand France's focus tree with "Joint Weapon Projects" category, adding Franco-German and Franco-Russian cooperative programs alongside related modifiers, decisions, and events
  Changelog.txt
  common/decisions/France.txt
  common/decisions/categories/france_decision_categories.txt
  common/ideas/French.txt
  common/opinion_modifiers/French.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA expansion
  common/decisions/France.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update Franco-German and Franco-Russian joint project content: revise project names, focus descriptions, and adjust modifiers to reflect SCAF/EMBT and ATOM IFV collaborations
  common/decisions/France.txt
  common/ideas/French.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ukraine and Russia breakaway enlargements
  Changelog.txt
  common/decisions/EU_voting_decisions.txt
  common/game_rules/00_game_rules.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/scripted_effects/!_cwtools_dummy_effects.txt
  common/scripted_effects/99_EU_voting_scripted_effects.txt
  common/scripted_effects/99_eu_scripted_effects.txt
  common/scripted_guis/01_european_union_guis.txt
  common/scripted_localisation/00_EU_budget_scripted_localisation.txt
  common/scripted_localisation/00_EU_parliament_scripted_localisation.txt
  common/scripted_localisation/00_EU_scripted_localisation.txt
  common/scripted_localisation/00_EU_voting_scripted_localisation.txt
  common/scripted_triggers/99_EU_scripted_triggers.txt
  common/scripted_triggers/99_EU_voting_scripted_triggers.txt
  common/units/names_ships/EUU_ship_names.txt
  history/countries/EUU - EU.txt
  localisation/english/MD_focus_EU_POTEF_l_english.yml
  localisation/english/MD_focus_EU_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Refactor UK content to ENG, expand Inner Circle logic
  common/decisions/ENG.txt
  common/decisions/categories/ENG_decision_categories.txt
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  common/opinion_modifiers/ENG.txt
  events/ENG.txt
  gfx/interface/inner_circle/ENG/inner_circle_leader_queen_elisabeth.dds
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add leader portraits for ENG and LIC
  gfx/leaders/ENG/ENG_prince_andrew_large_ic.dds
  gfx/leaders/ENG/ENG_prince_charles_large_ic.dds
  gfx/leaders/ENG/ENG_prince_edward_large_ic.dds
  gfx/leaders/ENG/ENG_prince_philip_large_ic.dds
  gfx/leaders/ENG/ENG_prince_william_large_ic.dds
  gfx/leaders/ENG/ENG_princess_anne_large_ic.dds
  gfx/leaders/ENG/small/ENG_prince_andrew_small_ic.dds
  gfx/leaders/ENG/small/ENG_prince_charles_small_ic.dds
  gfx/leaders/ENG/small/ENG_prince_edward_small_ic.dds
  gfx/leaders/ENG/small/ENG_prince_philip_small_ic.dds
  gfx/leaders/ENG/small/ENG_prince_william_small_ic.dds
  gfx/leaders/ENG/small/ENG_princess_anne_small_ic.dds
  gfx/leaders/LIC/LIC_klaus_tschutscher_large.dds
  gfx/leaders/LIC/small/LIC_klaus_tschutscher_small.dds
Due: none

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
