Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

improvements
  common/units/names_divisions/CHA_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/game_rules/CHA_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/country_leader/CHA_traits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/characters/UFD.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/characters/FUC.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/characters/CHA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Interface fix (#403)
  interface/frontendmainview.gui
Due: none

japanese loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
  localisation/japanese/MD_subideology_parties_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

LGF
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more system setup for this part
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Adjustments to the NHK event
  common/national_focus/JAP.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Remove apology option from copyright event.
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

gfx dump
  MD_eventpictures.gfx
  common/decisions/categories/Sahrawi_decisions_categories.txt
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/SAO_Election.dds
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/SAO_coup.dds
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/news_SAO_coup.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_EST_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

working on more of the CT setup
  common/on_actions/00_on_actions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

tooltip and newline
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH polishing loc and sp
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH sp loc and effects
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH make Chimera suffer
  common/special_projects/projects/zz_event_horizon_special_projects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH portals appear on the map, province modifier + flags cleanup
  common/ideas/Event Horizon.txt
  common/modifiers/01_province_modifiers.txt
  common/modifiers/EH_modifiers.txt
  common/national_focus/EH_generic.txt
  common/scripted_effects/00_scripted_effects.txt
  events/Event Horizon.txt
  gfx/interface/project_treshold/flags/ASEAN_alliance.tga
  gfx/interface/project_treshold/flags/Eastern_alliance.tga
  gfx/interface/project_treshold/flags/Eastern_alliance_med.tga
  gfx/interface/project_treshold/flags/Eastern_alliance_small.tga
  gfx/interface/project_treshold/flags/Middle_eastern_alliance.tga
  gfx/interface/project_treshold/flags/Oceania_alliance.tga
  gfx/interface/project_treshold/flags/Oceania_alliance_med.tga
  gfx/interface/project_treshold/flags/Oceania_alliance_small.tga
  gfx/interface/project_treshold/flags/africa_alliance.tga
  gfx/interface/project_treshold/flags/central_america_alliance.tga
  gfx/interface/project_treshold/flags/japan_korea_alliance.tga
  gfx/interface/project_treshold/flags/south_america_alliance.tga
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH I really hope this works
  common/raids/air_raids.txt
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding more work
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the microchip resource cost stuff
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Potential fix to broken ratification (#407)
  common/decisions/NATO.txt
  common/scripted_effects/01_NATO_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

OOB Expansion for Engerland (#411)
  common/units/names/00_ENG_names.txt
  history/countries/ENG - United Kingdom.txt
  history/units/ENG_2000_nonnsb.txt
  history/units/ENG_2000_nsb.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

A2A India
  history/countries/SOV - Russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Domestic independence monthly tick isn't as large
  common/game_rules/00_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH code polishing
  common/national_focus/EH_generic.txt
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH better checks
  common/scripted_effects/00_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing bugs
  common/decisions/Algeria.txt
  common/national_focus/Algeria.txt
  common/scripted_effects/ALG_political_leaders.txt
  events/Algeria.txt
  history/countries/ALG - Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  common/countries/Arab_Council_Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/countries/Sara_Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/countries/Toubou_Tibesti.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/opinion_modifiers/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
