Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

EH event loc
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH event picture
  events/Project Threshold.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH ai
  events/Project Threshold.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed some minor stuff and other cleanups
  Changelog.txt
  common/ai_strategy/Subject Russia.txt
  common/decisions/Turkey.txt
  common/national_focus/05_abkhazia.txt
  common/national_focus/korea_south.txt
  common/national_focus/netherlands.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/units/names_divisions/USA_names_divisions.txt
  events/Georgia.txt
  events/Russia.txt
  events/Turkey.txt
  events/United States.txt
  events/netherlands.txt
  history/units/USA_2000_nsb.txt
  interface/MD_money.gui
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/ai_strategy/HLS.txt
  common/collections/generic_collections.txt
  common/ideas/Vatican.txt
  common/national_focus/05_vatican_city.txt
  common/on_actions/05_hls_on_actions.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/HLS_political_leaders.txt
  common/scripted_triggers/00_religion_scripted_triggers.txt
  docs/dev-resources/code-stylization-guide.md
  events/Vatican.txt
  history/countries/HLS - Holy See.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_HLS_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH research sites events
  common/decisions/EH_decisions.txt
  common/national_focus/EH_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH balance
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

foreign companies bonuses and influence added
  common/dynamic_modifiers/01_CAC_dynamic_modifiers.txt
  common/ideas/!_CAC_ideas.txt
  common/on_actions/CAC_on_actions.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  interface/CAC_scripted_guis.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_game_rules.txt
  common/game_rules/00_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH scientists special effects update
  common/on_actions/99_EH_on_actions.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH scientists effects and triggers final update (for now)
  common/ideas/Event Horizon.txt
  common/scripted_guis/EH_scripted_gui.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH back to previous portal distance trigger and new button for hiring scientists
  common/decisions/EH_decisions.txt
  common/national_focus/EH_generic.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  gfx/interface/sign_treaty.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH drone mission trigger fix
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH icon change
  common/decisions/categories/EH_decision_category.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH introduction event
  common/game_rules/00_game_rules.txt
  common/on_actions/99_EH_on_actions.txt
  events/Event Horizon.txt
  gfx/event_pictures/generic/event_horizon/news_event_horizon_introduction.dds
  interface/MD_eventpictures.gfx
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH startup event polishing
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH game rule improvement
  common/game_rules/00_game_rules.txt
  common/on_actions/99_EH_on_actions.txt
  localisation/english/MD_game_rules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH file cleanup
  common/on_actions/99_EH_on_actions.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_project_threshold.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

some changes
  common/dynamic_modifiers/01_CAC_dynamic_modifiers.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  localisation/english/CAC_l_english.yml
  localisation/english/CAC_upgrades_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed naval invasions.. maybe
  Changelog.txt
  common/on_actions/00_on_actions.txt
  common/technologies/MTG_naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH first event chain connected
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed unit batteries adnd removed iedea descriptions
  Changelog.txt
  common/units/MD_land_units.txt
  localisation/english/MD_focus_SOV_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Armenian focus rebalance
  Changelog.txt
  common/national_focus/armenia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

banking company upgrades tree added and some fixes
  common/dynamic_modifiers/01_CAC_dynamic_modifiers.txt
  common/scripted_effects/00_CAC_scripted_effects.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_triggers/00_CAC_scripted_triggers.txt
  interface/CAC_upgrades/CAC_type_0.gui
  localisation/english/CAC_l_english.yml
  localisation/english/CAC_upgrades_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/scripted_effects/00_CAC_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/on_actions/CAC_on_actions.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  gfx/interface/companies_and_corporations/companies_logos/pgnig.dds
  gfx/interface/companies_and_corporations/companies_logos/pko.dds
  history/countries/POL - Poland.txt
  interface/CAC_scripted_guis.gfx
  interface/CAC_scripted_guis.gui
  localisation/english/CAC_companies_names_l_english.yml
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/scripted_guis/01_CAC_scripted_guis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

General blessing
  common/bop/GER.txt
  common/decisions/Germany.txt
  common/decisions/categories/05_GER_decision_categories.txt
  events/Germany.txt
  history/countries/GER - Germany.txt
  localisation/spanish/MD_focus_GER_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed redundant stuff
  common/national_focus/russia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed Joseph Goebbels quote
  localisation/english/MD_focus_GER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

CSTO work
  common/collections/collections.txt
  common/factions/goals/faction_manifests.txt
  common/factions/templates/99_SOV.txt
  localisation/english/ncns_factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix Panavia MIO selection for medium aircraft in Germany
  Changelog.txt
  common/military_industrial_organization/organizations/MD_GER_organizations.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

saving events
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

UK Stuff
  common/national_focus/Commonwealth_Shared.txt
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  common/scripted_triggers/00_CAC_scripted_triggers.txt
  localisation/english/CAC_companies_names_l_english.yml
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

first changes for 1.9
  common/decisions/formable_nation_decisions.txt
  common/ideas/Generic Ideas.txt
  common/scripted_triggers/01_formable_ratio_triggers.txt
  common/scripted_triggers/MD_regional_owned_triggers.txt
  common/scripted_triggers/MD_regional_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refactor UK MIOs and add new equipment groups
  common/bookmarks/blitzkrieg.txt
  common/equipment_groups/mio_equipment_groups.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/national_focus/uk.txt
  common/technologies/NSB_armor.txt
  common/technologies/industry.txt
  common/technology_tags/00_technology.txt
  events/netherlands.txt
  gfx/interface/military_industrial_organization/trait_icons/all_ships.dds
  gfx/interface/military_industrial_organization/trait_icons/non_mbt.dds
  interface/military_industrial_organization/zMD_military_industrial_icons.gfx
  localisation/braz_por/MD_defence_companies_l_braz_por.yml
  localisation/english/MD_defence_companies_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/countries_l_english.yml
  localisation/french/MD_defence_companies_l_french.yml
  localisation/japanese/MD_defence_companies_l_japanese.yml
  localisation/korean/MD_defence_companies_l_korean.yml
  localisation/polish/MD_defence_companies_l_polish.yml
  localisation/russian/MD_defence_companies_l_russian.yml
  localisation/simp_chinese/MD_defence_companies_l_simp_chinese.yml
  localisation/spanish/MD_defence_companies_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Latvia Political Parties (#33)
  Changelog.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH countries declare war on aliens (so does that makes the aliens a good guys? Lmao I want to hear the theories)
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
