Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

push bfv
  common/scripted_effects/99_GER_scripted_effects.txt
  common/scripted_guis/GER_German_guis.txt
  common/scripted_localisation/German_debug_scripted_localisation.txt
  gfx/interface/scripted_gui/ger/GFX_BFV_Faction_header.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_faction_blue_button.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_faction_green_button.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_faction_red_2_button.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_faction_red_button.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_faction_yellow_button.dds
  gfx/interface/scripted_gui/ger/GFX_BFV_info_box.dds
  gfx/interface/scripted_gui/ger/GFX_GER_bfv_background_gui.dds
  interface/GER_German_guis.gui
  interface/MD_GER_decisions.gfx
  sound/MD4_soundeffects.asset
  sound/ger/BFV_button_cell.wav
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

work
  common/ideas/Turkish.txt
  common/national_focus/turkey.txt
  events/Turkey.txt
  localisation/english/MD_focus_TUR_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH megastates event loc p.1
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH megastates events loc p.2
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH megastate events game over fix
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Japan Stuff
  common/decisions/Japan.txt
  common/decisions/categories/JAP_decision_categories.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/opinion_modifiers/Japan.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  common/scripted_localisation/99_JAP_scripted_localisation.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH megastates events loc p.3
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH megastate events localisation p.3
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

EH typo
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH colors
  common/countries/EUF.txt
  common/countries/USM.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH colors fix
  common/countries/colors.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update frontendmainviewbg.gfx
  interface/frontendmainviewbg.gfx
Due: none

Update uk.txt
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA COM
  common/decisions/France.txt
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

FRA COM FIX
  common/decisions/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add intel and recon modifiers for Japanese forces
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_mio_l_english.yml
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH typo
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/victory_points_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Remove Duplicate
  localisation/english/MD_cats_generic_defcomp_l_english.yml
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/aat_decisions_l_english.yml
  localisation/english/game_rules_l_english.yml
  localisation/english/replace/replaced_from_vanilla_frontend_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

the lines
  sound/eng/en_idle_001.wav
  sound/eng/en_idle_002.wav
  sound/eng/en_idle_003.wav
  sound/eng/en_idle_004.wav
  sound/eng/en_idle_005.wav
  sound/eng/en_idle_006.wav
  sound/eng/en_idle_007.wav
  sound/eng/en_idle_008.wav
  sound/eng/en_move_001.wav
  sound/eng/en_move_002.wav
  sound/eng/en_move_003.wav
  sound/eng/en_move_004.wav
  sound/eng/en_move_005.wav
  sound/eng/en_move_006.wav
  sound/eng/en_move_007.wav
  sound/eng/en_move_008.wav
  sound/eng/en_neutral_001.wav
  sound/eng/en_neutral_002.wav
  sound/eng/en_neutral_003.wav
  sound/eng/en_neutral_004.wav
  sound/eng/en_neutral_005.wav
  sound/eng/en_neutral_006.wav
  sound/eng/en_neutral_007.wav
  sound/eng/en_neutral_008.wav
  sound/eng/en_neutral_009.wav
  sound/eng/en_positive_001.wav
  sound/eng/en_positive_002.wav
  sound/eng/en_positive_003.wav
  sound/eng/en_positive_004.wav
  sound/eng/en_positive_005.wav
  sound/eng/en_positive_006.wav
  sound/eng/en_positive_007.wav
  sound/eng/en_positive_008.wav
  sound/eng/en_positive_009.wav
  sound/eng/en_retreat_001.wav
  sound/eng/en_retreat_002.wav
  sound/eng/en_retreat_003.wav
  sound/eng/en_retreat_004.wav
  sound/eng/en_retreat_005.wav
Due: none

work
  common/national_focus/uk.txt
  sound/vo.asset
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH megastate leaders
  gfx/leaders/AFD/AFD_HQ.dds
  gfx/leaders/ASE/ASE_HQ.dds
  gfx/leaders/CHN/Great_Hall_of_the_People.dds
  gfx/leaders/CRU/CRU_HQ.dds
  gfx/leaders/EAC/EAC_HQ.dds
  gfx/leaders/ERF/ERF_HQ.dds
  gfx/leaders/EUF/EU_HQ.dds
  gfx/leaders/ODU/ODU_HQ.dds
  gfx/leaders/RCA/RCA_HQ.dds
  gfx/leaders/USM/USM_HQ.dds
  gfx/leaders/USN/Council_For_National_Preservation.dds
  history/countries/AFD - African Defense Point.txt
  history/countries/ASE - South Eastern Republic.txt
  history/countries/CHN - People's Republic of the Three Peaks.txt
  history/countries/CRU - Eastern Continental Union.txt
  history/countries/EAC - East Asian Coalition.txt
  history/countries/ERF - Eurasian Federation.txt
  history/countries/EUF - European Federation.txt
  history/countries/ODU - Oceanic Defense Union.txt
  history/countries/RCA - Republic of Central America.txt
  history/countries/USM - Union of South American Nations.txt
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

test
  .github/workflows/release-pipeline.yml
Due: none

try
  .github/workflows/release-pipeline.yml
Due: none

updated pipeline
  .github/workflows/release-pipeline.yml
Due: none

try with proper permissions
  .github/workflows/release-pipeline.yml
Due: none

Add asteroid mining and Mars mission content for Japan
  common/decisions/Japan.txt
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
  common/scripted_effects/99_JAP_scripted_effects.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_generic_organization.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH superstates will now target chimera and major first event chain fix
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
  history/countries/USN - United States of North America.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera different call to war approach
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

coded in conservative skeleton
  common/national_focus/Commonwealth_Shared.txt
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/on_actions/MD_event_on_actions.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/decisions/Britain.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Small fix
  common/national_focus/japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
