Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

improvements
  events/Chad_Tribal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/scripted_triggers/99_CHA_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/scripted_effects/99_CHA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/ideas/Chadian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/achievements/MD_achievements.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Removed nuclear carrier subunit reference (#434)
  .gitignore
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/units/names/00_FRA_names.txt
  common/units/names/00_GER_names.txt
  common/units/names/00_UKR_names.txt
  common/units/names/00_names.txt
  interface/MD_texticons.gfx
  interface/subuniticons.gfx
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  common/countries/cosmetic.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fix
  common/ideas/Algerian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH tesla weapon window
  common/scripted_guis/EH_scripted_gui.txt
  gfx/interface/scripted_gui/event_horizon/EH_randallite_ui_blueprint_bg.dds
  interface/EH_scripted_gui.gfx
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/ai_strategy/CHA.txt
  common/characters/CHA.txt
  common/decisions/Chad.txt
  common/decisions/categories/chad_decision_categories.txt
  common/national_focus/05_CHA_focus.txt
  common/units/names_divisions/CHA_names_divisions.txt
  events/Chad.txt
  history/countries/ISC - Islamic State Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  events/Chad.txt
  history/countries/SRR - Sara Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  localisation/english/MD_ideas_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_events_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_decisions_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/categories/chad_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  localisation/english/MD_decisions_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  localisation/english/countries_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

defense companies
  common/country_leader/defense_company_traits.txt
  common/ideas/ENG.txt
  common/ideas/zz_defence_companies.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  localisation/english/MD_events_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  events/Chad_Tribal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/scripted_effects/99_CHA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Princess Anne IC
  common/characters/ENG.txt
  common/country_leader/ENG_traits.txt
  common/defines/MD_defines.lua
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Removed Naval Headquarters
  history/states/1060-Liguria.txt
  history/states/15-Southern England.txt
  history/states/374-Tanger-Tetouan-Al Hoceima.txt
  history/states/38-Niedersachsen.txt
  history/states/416-Balochistan.txt
  history/states/465-Kerala.txt
  history/states/479-Andaman and Nicobar.txt
  history/states/613-Chubu.txt
  history/states/644-Leningrad.txt
  history/states/9-Central Belt.txt
  history/states/934-East Thrace.txt
  history/states/957-Puglia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL_economic_focus - part 4
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

forgot this
  common/decisions/Algeria.txt
  common/ideas/Algerian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

headquarts part 2
  history/states/144-Crete.txt
  history/states/531-Hainan.txt
  history/states/538-Zhejiang.txt
  history/states/552-Liaoning.txt
  history/states/647-Arkhangelsk.txt
  history/states/768-Connecticut.txt
  history/states/791-South Carolina.txt
  history/states/792-Georgia.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Edward Inner Circle
  common/decisions/ENG.txt
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  common/opinion_modifiers/ENG.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
