Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

even more work
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/modifier_definitions/cac_modifier_definitions.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_diplomatic_actions/00_scripted_diplomatic_actions.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/scripted_guis/CAC_type_0_scripted_guis.txt
  common/scripted_localisation/01_cac_scripted_localisation.txt
  events/!!CAC_events.txt
  interface/CAC_scripted_guis.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Diplomacy Tree Improvements Part 1
  common/national_focus/japan.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing the dynamic modifier application to get the resource storage to function properly
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/on_actions/00_on_actions.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Diplomacy Tree Improvements Part 2
  common/national_focus/japan.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new naval techs and update tech tree positions
  common/technologies/MTG_naval.txt
  common/technologies/engineering.txt
  common/technology_tags/00_technology.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Revamp naval tech tree layout and add new ship classes
  common/technologies/MTG_naval.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new naval modules and techs for advanced ship systems
  common/technologies/MTG_naval.txt
  common/units/equipment/modules/MD_ship_modules.txt
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

base gui setup for moving stuff
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  common/ideas/Chinese.txt
  events/China.txt
  localisation/english/MD_focus_GER_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

moved PMC to new location, beginning movement of other systems as well
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/01_international_guis.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  interface/international.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/MD_missiles_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

tiny work prep mostly
  events/Counter Terror.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

moved SR and PMC fully to new GUI spots, setup UN system for later additions
  common/scripted_guis/01_international_guis.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  interface/international.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

setting up more CT stuff
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more ct work
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

workign on more stuff
  common/on_actions/99_GER_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/01_international_guis.txt
  common/scripted_guis/missiles_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more gui work
  common/scripted_guis/missiles_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fully removed old international systems gui
  common/scripted_guis/01_international_guis.txt
  interface/international.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

saving CT work
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more work
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

scaled trade ui needs work still
  gfx/interface/trade_header_ui.dds
  gfx/interface/trade_resource_bg.dds
Due: none

Add advanced air and helicopter techs, modules, and localizations
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/helicopter_techs.txt
  common/technologies/industry.txt
  common/units/equipment/modules/MD_helicopter_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
  localisation/english/attack_helicopter_modules_l_english.yml
  localisation/english/plane_designer_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add unique event pictures for France-related terrorism scenarios and update event picture references in France events
  events/France.txt
  gfx/event_pictures/europe/france - FRA/FRA_concert_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_eiffel_tower_news.dds
  gfx/event_pictures/europe/france - FRA/FRA_eiffel_tower_siege.dds
  gfx/event_pictures/europe/france - FRA/FRA_military_base_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_nuclear_facility_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_police_operation.dds
  gfx/event_pictures/europe/france - FRA/FRA_police_station_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_terror_aftermath.dds
  interface/MD_eventpictures.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add advanced air, tank, and helicopter techs
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/NSB_armor.txt
  common/technologies/helicopter_techs.txt
  common/technologies/industry.txt
  common/technologies/infantry.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_helicopter_modules.txt
  common/units/equipment/modules/MD_plane_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
  localisation/english/attack_helicopter_modules_l_english.yml
  localisation/english/plane_designer_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GFX Entry Generator
  tools/gfx_entry_generator.py
Due: none

updated
  tools/gfx_entry_generator.py
Due: none

try this
  tools/gfx_entry_generator.py
Due: none

try
  tools/gfx_entry_generator.py
Due: none

revert tools
  tools/gfx_entry_generator.py
Due: none

Fixed German Green tree
  Changelog.txt
  common/national_focus/germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed typo for Georgian leader
  localisation/english/MD_focus_GEO_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update NSB_armor.txt
  common/technologies/NSB_armor.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL economic focus - part 1
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

POL economic focus - part 2
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix: Addressed investment exploit by implementing runtime validation to prevent treasury bypass while paused (Issue #374) (#376)
  Changelog.txt
  common/scripted_guis/01_investment_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

When auto-influence is activated, the spread_influence@ cooldown flag is now set immediately, respecting the game rule settings (14/30/60 days). This prevents the (#389)
  Changelog.txt
  common/scripted_guis/influence_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

more docs
  docs/dev-resources/code-stylization-guide.md
Due: none

Fixed the North American North Oil Treaty
  Changelog.txt
  common/national_focus/canada.txt
  common/opinion_modifiers/Canada.txt
  events/Canada.txt
  localisation/english/MD_focus_CAN_l_english.yml
  localisation/english/MD_opinion_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
