Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Finished all of the historical trees, only fascist and communist left
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
  events/Switzerland.txt
  events/Switzerland_News.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH scientists improvement
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_localisation/99_EH_scripted_locallisation.txt
  gfx/interface/project_treshold/scripted_gui/EH_Andrzej_Trautman.png
  gfx/interface/project_treshold/scripted_gui/EH_Emmanuelle_Charpentier.png
  gfx/interface/project_treshold/scripted_gui/EH_Fabiola_Gianotti.png
  gfx/interface/project_treshold/scripted_gui/EH_Lene_Hau.png
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH scientist positioning
  interface/EH_scripted_gui.gui
Due: none

EH scientists loc and button fixes
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_localisation/99_EH_scripted_locallisation.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH scientist array fixes
  common/scripted_guis/EH_scripted_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH loc trigger cleanup
  common/scripted_localisation/99_EH_scripted_locallisation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH scientists descriptions
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fix
  common/national_focus/Algeria.txt
  gfx/interface/ideas/Algeria/an_algerian_emirate.dds
  gfx/interface/ideas/Algeria/arab_workers_union.dds
  gfx/interface/ideas/Algeria/independance_movement.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Finished all of the effects
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
  events/Switzerland_News.txt
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_SWI_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added NF and FDU gfx
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/texticons/parties_icons/switzerland/SWI_Nat_Fascism.dds
  gfx/texticons/parties_icons/switzerland/SWI_western_conservative.dds
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Start of the Swiss Foreign policy tree
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Foreign policy tree structure made
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Gave some icons to the foci.
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

parties fix + new logos
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  events/Algeria.txt
  gfx/leaders/ALG/Naima_Farhi.dds
  gfx/texticons/parties_icons/algeria/ALG_Caliphate_small.dds
  gfx/texticons/parties_icons/algeria/ALG_FIS_Caliphate_small.dds
  gfx/texticons/parties_icons/algeria/ALG_Nat_Populism_2011_small.dds
  gfx/texticons/parties_icons/algeria/ALG_Nat_Populism_small.dds
  gfx/texticons/parties_icons/algeria/ALG_Western_Autocracy_small.dds
  gfx/texticons/parties_icons/algeria/ALG_neutral_libertarian_small.dds
  gfx/texticons/parties_icons/algeria/ALG_socialist_2012_small.dds
  gfx/texticons/parties_icons/algeria/ALG_socialist_small.dds
  interface/MD_parties_icons.gfx
  localisation/english/MD_focus_ALG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

gfx rework
  common/national_focus/Algeria.txt
  gfx/interface/goals/algeria/Constantine1.dds
  gfx/interface/goals/algeria/algeirs1.dds
  gfx/interface/goals/algeria/oran1.dds
  gfx/interface/goals/iraq/iraq_farming_incentive.rar
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  gfx/interface/goals/iraq/iraq_farming_incentive.rar
Due: none

Regular update
  localisation/russian/MD_focus_AFG_l_russian.yml
  localisation/russian/MD_focus_ARM_l_russian.yml
  localisation/russian/MD_focus_BOL_l_russian.yml
  localisation/russian/MD_focus_BRA_l_russian.yml
  localisation/russian/MD_focus_CZE_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_LIC_l_russian.yml
  localisation/russian/MD_focus_NKO_l_russian.yml
  localisation/russian/MD_focus_ROM_l_russian.yml
  localisation/russian/MD_focus_SOO_l_russian.yml
  localisation/russian/MD_focus_SOV_l_russian.yml
  localisation/russian/MD_focus_SPR_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
  localisation/russian/MD_focus_SYR_l_russian.yml
  localisation/russian/MD_focus_TUR_l_russian.yml
  localisation/russian/MD_focus_VEN_l_russian.yml
  localisation/russian/MD_techs_l_russian.yml
  localisation/russian/equipment_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_buildings_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_modifiers_l_russian.yml
  localisation/russian/replace/replaced_from_vanilla_research_l_russian.yml
  localisation/russian/research_l_russian.yml
  localisation/russian/victory_points_l_russian.yml
Due: none

typo
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_BOT_l_english.yml
  localisation/english/MD_focus_CZE_l_english.yml
  localisation/english/MD_focus_ITA_l_english.yml
  localisation/english/MD_focus_RAJ_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_formable_nations_l_english.yml
  localisation/english/MD_internal_factions_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fra
  common/dynamic_modifiers/00_FRA_dynamic_modifiers.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  common/scripted_effects/99_FRA_scripted_effects.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_cats_generic_defcomp_l_english.yml
  localisation/english/MD_focus_BRA_l_english.yml
  localisation/english/MD_focus_HOL_l_english.yml
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/english/MD_focus_SIN_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
  localisation/english/MD_techs_l_english.yml
  localisation/english/MD_traits_l_english.yml
  localisation/english/equip_naval_l_english.yml
  localisation/english/equipment_l_english.yml
  localisation/english/replace/replaced_from_vanilla_air_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/english/replace/replaced_from_vanilla_research_l_english.yml
  localisation/english/traits_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Gave all of the political focuses localisation
  localisation/english/MD_focus_SWI_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Fixed some errors
  common/national_focus/switzerland.txt
  events/Switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed even more errors
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

LKT Political Parties
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Regular update
  localisation/russian/MD_focus_AZE_l_russian.yml
  localisation/russian/MD_focus_CAS_l_russian.yml
  localisation/russian/MD_focus_CHI_l_russian.yml
  localisation/russian/MD_focus_EST_l_russian.yml
  localisation/russian/MD_focus_GRE_l_russian.yml
  localisation/russian/MD_focus_HOL_l_russian.yml
  localisation/russian/MD_focus_IND_l_russian.yml
  localisation/russian/MD_focus_RAJ_l_russian.yml
  localisation/russian/MD_focus_ROM_l_russian.yml
  localisation/russian/MD_focus_SMA_l_russian.yml
  localisation/russian/MD_focus_SWE_l_russian.yml
Due: none

fra napo
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra nap
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/plane_designer_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Lowercase "The" in definite form (#11)
  localisation/braz_por/MD_focus_PER_l_braz_por.yml
  localisation/braz_por/countries_l_braz_por.yml
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/countries_l_english.yml
  localisation/french/MD_focus_PER_l_french.yml
  localisation/polish/MD_focus_PER_l_polish.yml
  localisation/spanish/MD_focus_PER_l_spanish.yml
  localisation/spanish/countries_l_spanish.yml
Due: validate-localization-encoding, fix-localization-encoding

loc polishing
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fra faction
  common/national_focus/france.txt
  events/France.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA attack 8th coa
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

New Event, localisation and focus tree progression
  common/national_focus/switzerland.txt
  events/Switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Loc adjustment
  localisation/english/MD_focus_BLR_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

FRA event
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/factions_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
