Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

HUN party descriptions p.1
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixes
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

adding the rest of the resources to the storage system
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

doing testing work and minor tweaks
  common/scripted_effects/resource_storage_effects.txt
  common/scripted_guis/Resource_storage_gui.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

finalizing the effect setup. it works!
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

final tweaks and fixes, and initial performance test
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

moved the resource storage max onto strategic fuel reserves via modifier
  common/buildings/00_buildings.txt
  common/modifier_definitions/energy_modifier_definitions.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN political parties desc p.2
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

stuff
  common/national_focus/uk.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_eventpictures.gfx
  interface/MD_eventpictures.gfx
Due: none

Fix for issue #254: Incorrect Translation of Belarusian City Names (#260)
  common/national_focus/Belarus.txt
  history/states/1093-Brest.txt
  history/states/702-Grodno.txt
  localisation/english/state_names_l_english.yml
  localisation/english/victory_points_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_SOV_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Swedish MIO v2
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Corruption mechainc
  common/decisions/99_PHI_decisions.txt
  common/decisions/categories/99_PHI_decision_categories.txt
  common/dynamic_modifiers/99_PHI_dynamic_modifiers.txt
  common/ideas/AA_corruption_laws.txt
  common/ideas/Philippines.txt
  common/scripted_effects/99_PHI_scripted_effects.txt
  history/countries/PHI - Philippines.txt
  localisation/english/MD_focus_PHI_l_english.yml
  resources/National Content/Phillippines/MD_focus_PHI_l_english.yml
  resources/National Content/Phillippines/events-Philippines.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN leaders
  gfx/leaders/HUN/agnes_kunhalmi.dds
  gfx/leaders/HUN/attila_mesterhazy.dds
  gfx/leaders/HUN/balint_magyar.dds
  gfx/leaders/HUN/bertalan_toth.dds
  gfx/leaders/HUN/erzsebet_pusztai.dds
  gfx/leaders/HUN/ferenc_gyurcsany.dds
  gfx/leaders/HUN/gabor_demszky.dds
  gfx/leaders/HUN/gabor_fodor.dds
  gfx/leaders/HUN/gabor_kuncze.dds
  gfx/leaders/HUN/gyula_horn.dds
  gfx/leaders/HUN/gyula_molnar.dds
  gfx/leaders/HUN/gyula_thurmer.dds
  gfx/leaders/HUN/ibolya_david.dds
  gfx/leaders/HUN/ildiko_lendvai.dds
  gfx/leaders/HUN/istvan_csurka.dds
  gfx/leaders/HUN/istvan_hiller.dds
  gfx/leaders/HUN/ivan_szabo.dds
  gfx/leaders/HUN/janos_ader.dds
  gfx/leaders/HUN/janos_koka.dds
  gfx/leaders/HUN/jozsef_szabo.dds
  gfx/leaders/HUN/jozsef_tobias.dds
  gfx/leaders/HUN/jozsef_torgyan.dds
  gfx/leaders/HUN/karoly_balogh.dds
  gfx/leaders/HUN/lajos_fur.dds
  gfx/leaders/HUN/laszlo_kovacs.dds
  gfx/leaders/HUN/laszlo_kover.dds
  gfx/leaders/HUN/peter_hegedus.dds
  gfx/leaders/HUN/sandor_lezsak.dds
  gfx/leaders/HUN/zoltan_biro.dds
  gfx/leaders/HUN/zoltan_fenyvessy.dds
  gfx/leaders/HUN/zoltan_pokorni.dds
  localisation/english/MD_subideology_parties_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

LAS Political Path
  common/ideas/Republic of Lakota.txt
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH event log cleanup
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

saddam portrait
  gfx/leaders/IRQ/saddam_hussein.dds
  gfx/leaders/IRQ/saddam_hussein2.dds
Due: none

HUN political leaders set in game
  common/scripted_effects/HUN_political_leaders.txt
  gfx/leaders/HUN/otto_von_habsburg.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

PNP Political Path
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Swedish MIO #3
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  gfx/interface/ideas/companies/Sweden/Carl_Gustaf_FFV.dds
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed the MIO auto update
  Changelog.txt
  common/defines/MD_defines.lua
  interface/military_industrial_organization/industrial_organization_detail.gui
Due: none

resource storage gui
  interface/resource_storage.gfx
  interface/resource_storage.gui
  localisation/english/MD_resource_storage_I_english.yml
Due: validate-localization-encoding, fix-localization-encoding

HUN army leader portraits
  gfx/leaders/HUN/Portrait_Ferenc_Korom.dds
  gfx/leaders/HUN/Portrait_Gabor_Borondi.dds
  gfx/leaders/HUN/Portrait_Lajos_Fodor.dds
  gfx/leaders/HUN/Portrait_Laszlo_Tombol.dds
  gfx/leaders/HUN/Portrait_Tibor_Benko.dds
  gfx/leaders/HUN/small/Portrait_Ferenc_Korom_small.dds
  gfx/leaders/HUN/small/Portrait_Gabor_Borondi_small.dds
  gfx/leaders/HUN/small/Portrait_Lajos_Fodor_small.dds
  gfx/leaders/HUN/small/Portrait_Laszlo_Tombol_small.dds
  gfx/leaders/HUN/small/Portrait_Tibor_Benko_small.dds
Due: none

HUN army leader traits
  common/characters/HUN.txt
  history/countries/HUN - Hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added initial ideas
  common/ideas/HUN.txt
  history/countries/HUN - Hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed encoding
  localisation/english/MD_resource_storage_I_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Update AA_corruption_laws.txt
  common/ideas/AA_corruption_laws.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

small tweaks
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN political traits p.1
  common/scripted_effects/HUN_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN political traits p.2
  common/scripted_effects/HUN_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN political traits p.3
  common/scripted_effects/HUN_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN political traits finish
  common/scripted_effects/HUN_political_leaders.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards
