Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

improvements
  common/country_tags/00_countries.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/countries/Zaghawa_State.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/ai_strategy/CHA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/countries/Islamic_State_Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/ideas/Chadian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  history/countries/ZGW - Zaghawa State.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  history/countries/TBU - Toubou Tibesti.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/scripted_triggers/99_CHA_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/scripted_effects/99_CHA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  events/Chad_Tribal.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  history/countries/ARC - Arab Council Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  localisation/english/MD_events_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_game_rules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_ideas_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_focus_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  history/countries/SRR - Sara Republic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  history/countries/ISC - Islamic State Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/game_rules/CHA_game_rules.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Politics Complete
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH static fix so it won't be always true
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH satellite critical failure idea
  common/ideas/Event Horizon.txt
  common/on_actions/99_EH_on_actions.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH polishing
  common/national_focus/EH_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the randomization of variables
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed randomization, improved protest spending modifiers
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed a few potential math hangups
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Speed test
  common/defines/MD_defines.lua
Due: none

FRA king
  common/decisions/France.txt
  common/ideas/French.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes & cleanup and more (#415)
  common/decisions/Bosnia.txt
  common/decisions/Serbia.txt
  common/decisions/categories/bos_decision_categories1.txt
  common/decisions/categories/serbia_decision_categories.txt
  common/on_actions/99_GER_on_actions.txt
  common/on_actions/99_SER_on_actions.txt
  common/scripted_effects/99_SER_scripted_effects.txt
  common/scripted_guis/GER_German_guis.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  events/Egypt.txt
  events/NewsEvents.txt
  localisation/english/MD_focus_BOS_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

event pics
  MD_eventpictures.gfx
  interface/MD_eventpictures.gfx
Due: none

Adjust tooltips and events
  common/national_focus/JAP.txt
  events/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Small Lithuania Tweaks (#416)
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

2003 São Tomé and Príncipe coup attempt (#418)
  common/game_rules/00_game_rules.txt
  common/scripted_effects/00_yearly_effects.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  events/Sao_Tome_e_Principe.txt
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/SAO_Election.dds
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/SAO_coup.dds
  gfx/event_pictures/africa/sao_tome_and_principe - SAO/news_SAO_coup.dds
  gfx/event_pictures/generic/terror/CTC.1.dds
  gfx/event_pictures/generic/terror/CTC.10.dds
  gfx/event_pictures/generic/terror/CTC.2.dds
  gfx/event_pictures/generic/terror/CTC.3.dds
  gfx/event_pictures/generic/terror/CTC.4.dds
  gfx/event_pictures/generic/terror/CTC.5.dds
  gfx/event_pictures/generic/terror/CTC.6.dds
  gfx/event_pictures/generic/terror/CTC.7.dds
  gfx/event_pictures/generic/terror/CTC.8.dds
  gfx/event_pictures/generic/terror/CTC.9.dds
  gfx/event_pictures/generic/terror/CTN.1.dds
  gfx/event_pictures/generic/terror/CTN.10.dds
  gfx/event_pictures/generic/terror/CTN.11.dds
  gfx/event_pictures/generic/terror/CTN.12.dds
  gfx/event_pictures/generic/terror/CTN.2.dds
  gfx/event_pictures/generic/terror/CTN.3.dds
  gfx/event_pictures/generic/terror/CTN.4.dds
  gfx/event_pictures/generic/terror/CTN.5.dds
  gfx/event_pictures/generic/terror/CTN.6.dds
  gfx/event_pictures/generic/terror/CTN.7.dds
  gfx/event_pictures/generic/terror/CTN.8.dds
  gfx/event_pictures/generic/terror/CTN.9.dds
  gfx/leaders/IRQ/saddam_hussein.dds
  gfx/leaders/IRQ/saddam_hussein2.dds
  gfx/leaders/SAO/Fradique_de_Menezes.dds
  gfx/leaders/SAO/Idalecio_Pachire.dds
  gfx/leaders/SAO/fernando_pereira.dds
  gfx/leaders/SAO/manuel_pinto_da_costa.dds
  history/countries/SAO - Sao Tome & Principe.txt
  interface/MD_eventpictures.gfx
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fra king + balance generals
  common/characters/FRA.txt
  common/decisions/France.txt
  common/ideas/French.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing bugs
  common/decisions/Algeria.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH trigger fix
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH events polishing
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
