Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Add Inner Circle portraits for ENG royal family
  common/characters/ENG.txt
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/national_focus/ENG.txt
  localisation/english/MD_leader_portraits.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix ENG ascended advisor text references and add localisation
  interface/MD_leader_portraits.gfx
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

government tree idea loc
  common/ideas/Japanese.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

social tree idea loc
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Expand France's focus tree with extremist mechanics, immigration focus, terrorism events, and related updates to Communist and National Rally paths
  Changelog.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Prince Andrew focus branch and decisions
  common/decisions/ENG.txt
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  common/opinion_modifiers/ENG.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update ENG.txt
  common/decisions/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add "Green Extraction Ban" focus, decisions, events, and idea to expand France's environmental policy mechanics
  common/decisions/France.txt
  common/decisions/categories/france_decision_categories.txt
  common/ideas/French.txt
  common/national_focus/france.txt
  events/France.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update "Green Extraction Ban" focus and idea: add health improvement modifiers, adjust population growth, and refine localization to emphasize reduced cancer rates
  common/ideas/French.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

diplomatic event adjustments
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

New trigger to cleanup UI for 5 year plan
  common/decisions/subparty_policies_decisions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/english/MD_subparty_policies_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed a naming inaccuracy in Aceh, gave ISR chip
  common/characters/ACE.txt
  common/units/equipment/MD_x_plane_airframes.txt
  gfx/leaders/ACE/ahmad_kandang.dds
  gfx/leaders/ACE/small/ahmad_kandang_small.dds
  history/countries/ACE - Aceh.txt
  history/countries/ISR - Israel.txt
  history/states/206-Southern Israel.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Remove outdated TODOs, refine focus tree rewards, and update localization for French focus tree
  common/national_focus/france.txt
  localisation/english/MD_focus_FRA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

FRA king
  common/decisions/France.txt
  events/France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

cosmetic tags cleanup
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/MD_autonomy_l_english.yml
  localisation/english/MD_cats_generic_defcomp_l_english.yml
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_AFG_l_english.yml
  localisation/english/MD_focus_ARM_l_english.yml
  localisation/english/MD_focus_DPR_LPR_HPR_OPR_l_english.yml
  localisation/english/MD_focus_EGY_l_english.yml
  localisation/english/MD_focus_GRE_l_english.yml
  localisation/english/MD_focus_IRQ_l_english.yml
  localisation/english/MD_focus_ISR_l_english.yml
  localisation/english/MD_focus_MLR_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
  localisation/english/MD_focus_PMR_l_english.yml
  localisation/english/MD_focus_ROM_l_english.yml
  localisation/english/MD_focus_SER_VOJ_MNT_l_english.yml
  localisation/english/MD_focus_SOV_l_english.yml
  localisation/english/MD_focus_SYR_l_english.yml
  localisation/english/MD_focus_TAJ_l_english.yml
  localisation/english/MD_focus_TUR_l_english.yml
  localisation/english/MD_focus_UKR_l_english.yml
  localisation/english/MD_focus_USA_l_english.yml
  localisation/english/MD_global_reaction_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Localization cleanup 1/18
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_countries_cosmetic_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_countries_cosmetic_l_english.yml
  localisation/english/MD_focus_PER_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixed some events
  events/Switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Demographic events loc
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add Andrew's Emerging Trade Agreement decision and event
  common/decisions/ENG.txt
  common/national_focus/ENG.txt
  events/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Localization cleanup 1/19
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

Add new decisions and focus updates for ENG advisors
  common/decisions/ENG.txt
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Replace German advisor assets with British royals
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/ideas/ENG.txt
  events/ENG.txt
  gfx/interface/inner_circle/ENG/prince_andrew_available_small.dds
  gfx/interface/inner_circle/ENG/prince_andrew_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_andrew_unavailable_small.dds
  gfx/interface/inner_circle/ENG/prince_andrew_unavailable_special_small.dds
  gfx/interface/inner_circle/ENG/prince_anne_available_small.dds
  gfx/interface/inner_circle/ENG/prince_anne_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_anne_unavailable_small.dds
  gfx/interface/inner_circle/ENG/prince_charles_available_small.dds
  gfx/interface/inner_circle/ENG/prince_charles_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_charles_unavailable_small.dds
  gfx/interface/inner_circle/ENG/prince_edward_available_small.dds
  gfx/interface/inner_circle/ENG/prince_edward_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_edward_unavailable_small.dds
  gfx/interface/inner_circle/ENG/prince_philip_available_small.dds
  gfx/interface/inner_circle/ENG/prince_philip_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_philip_unavailable_rip_small.dds
  gfx/interface/inner_circle/ENG/prince_philip_unavailable_small.dds
  gfx/interface/inner_circle/ENG/prince_william_available_small.dds
  gfx/interface/inner_circle/ENG/prince_william_selected_small.dds
  gfx/interface/inner_circle/ENG/prince_william_unavailable_small.dds
  interface/inner_circles/ENG_inner_circle.gfx
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Completion of localization cleanup
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

Fix for issue #330: Redo the Indian Naxalite-Maoist Insurgency Mechanic (#353)
  Changelog.txt
  common/ai_strategy/RAJ.txt
  common/decisions/India.txt
  common/dynamic_modifiers/00_indian_dynamic_modifiers.txt
  common/ideas/Indian.txt
  common/national_focus/india.txt
  common/scripted_localisation/99_RAJ_scripted_localisation.txt
  events/Indian.txt
  history/countries/RAJ - India.txt
  localisation/english/MD_focus_RAJ_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added pre-existing intelligence agency upgrades for major powers based on their Y2K capabilities (#358)
  Changelog.txt
  history/countries/CHI - China.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/ISR - Israel.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add custom achievements for multiple countries, including gameplay triggers and tooltips (#357)
  Changelog.txt
  common/achievements/MD_achievements.txt
  localisation/english/MD_custom_achievements_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more on game start microchip producers w/ the tech and fixed errors in the Indian new content
  common/ai_strategy/RAJ.txt
  common/decisions/India.txt
  common/decisions/categories/india_decision_category.txt
  common/decisions/netherlands.txt
  common/national_focus/india.txt
  events/Indian.txt
  history/countries/AST - Australia.txt
  history/countries/AUS - Austria.txt
  history/countries/BEL - Belgium.txt
  history/countries/BLR - Belarus.txt
  history/countries/HUN - Hungary.txt
  history/countries/IRE - Ireland.txt
  history/countries/ITA - Italy.txt
  history/countries/LAT - Latvia.txt
  history/countries/SER - Serbia.txt
  history/countries/SIN - Singapore.txt
  history/countries/SWI - Switzerland.txt
  history/countries/UAE - United Arab Emirates.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add anti-torpedo torpedo project icon and update references
  common/buildings/00_buildings.txt
  common/special_projects/projects/naval_projects.txt
  gfx/interface/special_project/project_icons/Navy/sp_anti_torpedo_torpedo.dds
  interface/special_projects/MD_project.gfx
  resources/GFX templates/Technology/gude-2026-01-19.log
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed interface for production lines, removed some unneeded events
  common/national_focus/05_afghanistan.txt
  common/national_focus/china.txt
  events/War.txt
  interface/countryproductionlineview.gui
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

things
  common/achievements/MD_achievements.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Indian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed errors related to new achievements
  common/achievements/MD_achievements.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Resource storage (#365)
  common/buildings/00_buildings.txt
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/modifier_definitions/energy_modifier_definitions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_resource_storage_effects.txt
  common/scripted_guis/00_resource_storage_gui.txt
  interface/countrytradeview.gui
  interface/resource_storage.gfx
  interface/resource_storage.gui
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
  localisation/english/resource_storage_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing errors
  common/scripted_effects/00_money_system.txt
  common/scripted_guis/01_CAC_scripted_guis.txt
  common/technology_sharing/00_tech_sharing_groups.txt
  common/technology_tags/00_technology.txt
  interface/CAC_company_history.gui
  interface/CAC_upgrades/CAC_type_1.gui
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing more errors
  common/ideas/AA_law_economics.txt
  common/modifier_definitions/cac_modifier_definitions.txt
  common/modifier_definitions/money_modifier_definitions.txt
  interface/CAC_upgrades/CAC_type_1.gui
  interface/CAC_upgrades/CAC_type_2.gui
  interface/CAC_upgrades/CAC_type_3.gui
  interface/CAC_upgrades/CAC_type_4.gui
  interface/CAC_upgrades/CAC_type_5.gui
  interface/CAC_upgrades/CAC_type_6.gui
  interface/CAC_upgrades/CAC_type_7.gui
  interface/CAC_upgrades/CAC_type_8.gui
  localisation/english/CAC_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
