Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

UK Work
  common/national_focus/uk.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Expand ENG QinetiQ and MBDA MIOs with detailed trait trees
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed issue #234 (#238)
  Changelog.txt
  common/decisions/Iran.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH focus effect and special project
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/on_actions/99_EH_on_actions.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Parties For Tradition
  common/ideas/Republic of Lakota.txt
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Rework UK defense companies and MIOs
  common/country_leader/defense_company_traits.txt
  common/ideas/!Generic Defense Companies.txt
  common/ideas/zz_defence_companies.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/military_industrial_organization/organizations/MD_generic_organization.txt
  common/national_focus/uk.txt
  common/scripted_triggers/MD_Country_Groups_Triggers.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update defense_company_traits.txt
  common/country_leader/defense_company_traits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

equip bonus fix
  common/ideas/Republic of Lakota.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix MIO trait errors and focus/NS issues for AAT DLC (#247)
  Changelog.txt
  common/ideas/Venezuelan.txt
  common/national_focus/netherlands.txt
  history/countries/SOV - Russia.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix for Issue #110: Missing Spymaster Advisors (#217)
  common/characters/00_generic_intel_advisors.txt
  common/characters/ENG.txt
  common/characters/FRA.txt
  common/characters/GER.txt
  common/characters/SOV.txt
  common/characters/USA.txt
  common/country_leader/01_military_advisor_traits.txt
  gfx/leaders/ENG/small/Alex_Younger_small.dds
  gfx/leaders/ENG/small/Jeremy_Fleming_small.dds
  gfx/leaders/ENG/small/Ken_McCallum_small.dds
  gfx/leaders/ENG/small/Richard_Moore_small.dds
  gfx/leaders/FRA/small/Bernard_Emie_small.dds
  gfx/leaders/FRA/small/Guillaume_Poupard_small.dds
  gfx/leaders/FRA/small/Nicolas_Lerner_small.dds
  gfx/leaders/FRA/small/Thierry_Delville_small.dds
  gfx/leaders/GER/small/Arne_Schonbohm_small.dds
  gfx/leaders/GER/small/Bruno_Kahl_small.dds
  gfx/leaders/GER/small/Sinan_Selen_small.dds
  gfx/leaders/GER/small/Thomas_Haldenwang_small.dds
  gfx/leaders/SOV/small/Alexander_Bortnikov_small.dds
  gfx/leaders/SOV/small/Igor_Kostyukov_small.dds
  gfx/leaders/SOV/small/Nikolai_Patrushev_small.dds
  gfx/leaders/SOV/small/Sergey_Naryshkin_small.dds
  gfx/leaders/USA/small/Christopher_Wray_small.dds
  gfx/leaders/USA/small/Gina_Haspel_small.dds
  gfx/leaders/USA/small/Paul_Nakasone_small.dds
  gfx/leaders/USA/small/Stanley_McChrystal_small.dds
  gfx/leaders/USA/small/William_Burns_small.dds
  gfx/leaders/generic_politicians/small/white_001_small.dds
  gfx/leaders/generic_politicians/small/white_005_small.dds
  gfx/leaders/generic_politicians/small/white_010_small.dds
  gfx/leaders/generic_politicians/small/white_015_small.dds
  gfx/leaders/generic_politicians/small/white_020_small.dds
  localisation/english/MD_traits_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

defines and some other cleanup (#251)
  Changelog.txt
  common/ai_strategy/default.txt
  common/defines/MD_defines.lua
  common/scripted_diplomatic_actions/01_peace_deal_diplomatic_actions.txt
  common/scripted_effects/02_peace_deal_effects.txt
  common/scripted_localisation/02_conditional_peace_deal_scripted_localisation.txt
  common/scripted_triggers/00_peace_deal_triggers.txt
  history/countries/FLN - Flanders.txt
  history/countries/PER - Iran.txt
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
  localisation/english/conditional_peace_deals_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixed more minor errors in the log
  Changelog.txt
  common/characters/CUB.txt
  common/national_focus/05_afghanistan.txt
  common/on_actions/MD_market_on_actions.txt
  common/scripted_effects/IRQ_political_leaders.txt
  events/Cuba.txt
  events/Iraq.txt
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

test dynamic modifier for air-air refueling
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/technologies/BBA_aircraft.txt
  localisation/english/plane_designer_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_focus_SWE_l_english.yml
  localisation/english/MD_scripted_diplomatic_actions_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/MD_units_l_english.yml
  localisation/english/replace/replaced_from_vanilla_buildings_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

labor tree work
  common/national_focus/uk.txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

labor tree done, start of conservatives
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/ideas/britain.txt
  common/national_focus/uk.txt
  events/United Kingdom.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update unitleaderwindow.gfx
  interface/unitleaderwindow.gfx
Due: none

Add and update custom icons for MIO policies
  common/military_industrial_organization/policies/_air_policies.txt
  common/military_industrial_organization/policies/_general_policies.txt
  common/military_industrial_organization/policies/_land_policies.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

uk work
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  events/United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More foreign policy work done
  common/decisions/Switzerland.txt
  common/decisions/categories/switzerland_categories.txt
  common/national_focus/switzerland.txt
  events/Switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN focus tree file
  common/national_focus/hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN small party popularity change
  history/countries/HUN - Hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN political party popularity balance
  history/countries/HUN - Hungary.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN party icons, renames and fascist party
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/texticons/parties_icons/hungary/HUN_Nat_Fascism.dds
  gfx/texticons/parties_icons/hungary/HUN_emerging_reactionary.dds
  gfx/texticons/parties_icons/hungary/HUN_non_aligned_greens.dds
  history/countries/HUN - Hungary.txt
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN party descriptions loc keys
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

HUN social communist party
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/texticons/parties_icons/hungary/HUN_anarchist_communism.dds
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

LAS Focus
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Resource-Storage effects
  common/decisions/00_resource_storage_missions.txt
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing the issue with it not pulling resrouces properly
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/resource_storage_effects.txt
  interface/resource_storage.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

attemptign to get this to cooperate, testing some alternate ways to make it stable
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

HUN party fixes and new party
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  gfx/texticons/parties_icons/hungary/HUN_anarchist_communism.dds
  gfx/texticons/parties_icons/hungary/HUN_western_conservative.dds
  history/countries/HUN - Hungary.txt
  interface/MD_parties_icons.gfx
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update JAP - Japan.txt
  history/countries/JAP - Japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Improved some AI for USA decisiosn
  Changelog.txt
  common/decisions/NATO.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

i win. I. Win.
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/scripted_effects/resource_storage_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/national_focus/uk.txt
  common/scripted_effects/99_ENG_scripted_effects..txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

All special Projects coded
  common/game_rules/00_game_rules.txt
  common/ideas/!_special_project_ideas.txt
  common/special_projects/project_tags/tags.txt
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/special_projects/projects/event_horizon_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/nuclear_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/bombers.txt
  common/technologies/engineering.txt
  common/technologies/fixed_wing.txt
  common/technologies/industry.txt
  common/technologies/infantry.txt
  common/technologies/special_project_hidden_techs.txt
  localisation/english/MD_game_rules_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update special project visibility and tech dependencies
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/civilian_projects.txt
  common/special_projects/projects/infantry_equipment_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/engineering.txt
  common/technologies/industry.txt
  localisation/english/replace/replaced_from_special_projects_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add instant building and treasury effects to UK events
  common/decisions/Britain.txt
  common/national_focus/uk.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

SAAB - PT1
  common/military_industrial_organization/organizations/MD_SWE_organizations.txt
  localisation/english/MD_mio_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
