Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

fixed
  events/Canada.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

jap loc encoding eroor fix
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: none

Adjusted effects based on feedback
  common/ideas/Japanese.txt
  common/national_focus/japan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix main menu display issues (#396)
  interface/frontendmainview.gui
Due: none

chad overhaul
  common/country_tags/00_countries.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/characters/CHA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  history/countries/CHA - Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  localisation/english/countries_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

chad overhaul
  events/Sudan.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/on_actions/99_CHA_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/scripted_effects/99_CHA_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/scripted_triggers/99_CHA_scripted_triggers.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  history/units/CHA_UFDD_rebels.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/decisions/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/decisions/categories/chad_decision_categories.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  history/units/CHA_FUC_rebels.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/ideas/Chadian.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/characters/FUC.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/countries/FUC.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  history/countries/FUC - Chadian Rebels.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  localisation/english/MD_decisions_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

chad overhaul
  localisation/english/MD_events_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

chad overhaul
  localisation/english/MD_focus_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

chad overhaul
  localisation/english/MD_ideas_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

chad overhaul
  common/characters/UFD.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  history/countries/UFD - Chadian Rebels.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

chad overhaul
  common/countries/UFDD.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Balance and focus tree updates for China and Korea
  common/decisions/categories/00_decision_categories.txt
  common/decisions/categories/99_CHI_decision_categories.txt
  common/defines/MD_defines.lua
  common/military_industrial_organization/policies/_air_policies.txt
  common/military_industrial_organization/policies/_general_policies.txt
  common/military_industrial_organization/policies/_land_policies.txt
  common/military_industrial_organization/policies/_navy_policies.txt
  common/national_focus/china.txt
  common/national_focus/indonesia.txt
  common/national_focus/korea_north.txt
  common/on_actions/99_KOR_on_actions.txt
  common/special_projects/projects/air_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/MTG_naval.txt
  common/units/equipment/MD_tank_chassis.txt
  events/China.txt
  history/countries/CHI - China.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Implementation of issue #382 (#390)
  Changelog.txt
  common/decisions/categories/preah_vihear_decision_categories.txt
  common/decisions/preah_vihear_decisions.txt
  common/opinion_modifiers/Diplomatic.txt
  common/scripted_effects/00_yearly_effects.txt
  events/PreahVihear.txt
  localisation/english/MD_preah_vihear_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Implementation of issue #381 (#394)
  Changelog.txt
  common/decisions/Nigeria.txt
  common/decisions/categories/nigeria_decisions_categories.txt
  common/ideas/nigerian.txt
  common/national_focus/nigeria.txt
  common/on_actions/99_NIG_on_actions.txt
  common/scripted_effects/00_yearly_effects.txt
  events/Nigeria_Niger_Delta.txt
  localisation/english/MD_NIG_niger_delta_events_l_english.yml
  localisation/english/MD_focus_NIG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added another achievement to Russia
  common/achievements/MD_achievements.txt
  localisation/english/MD_custom_achievements_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

characters for France
  history/countries/FRA - France.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  localisation/english/MD_focus_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Add hover suspension and drone artillery techs
  common/doctrines/subdoctrines/sea/naval.txt
  common/on_actions/99_KOR_on_actions.txt
  common/script_enums.txt
  common/special_projects/projects/artillery_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/technologies/MTG_naval.txt
  common/technologies/NSB_anti_air.txt
  common/technologies/NSB_armor.txt
  common/technologies/NSB_artillery.txt
  common/technologies/anti_tank.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/modules/MD_arty_modules.txt
  common/units/equipment/modules/MD_tank_modules.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
  localisation/english/plane_designer_l_english.yml
  localisation/english/replace/replaced_from_special_projects_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  common/ideas/Chadian.txt
  common/national_focus/05_CHA_focus.txt
  localisation/english/MD_focus_CHA_l_english.yml
  localisation/english/MD_ideas_CHA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
