Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update JAP.txt
  common/national_focus/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Create goals_overlays.gfx
  interface/goals_overlays.gfx
Due: none

EH focus icons
  common/national_focus/EH_generic.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera ai improvement
  common/ai_strategy/ALN.txt
  common/ai_templates/MD_event_horizon.txt
  common/ideas/Chimera.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stuff
  common/bop/JAP.txt
  common/decisions/JAP.txt
  common/national_focus/JAP.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

japanese loc
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: none

Fixed some stuff and minor issues (#422)
  Changelog.txt
  common/characters/SAM.txt
  common/decisions/05_LAT_decisions.txt
  common/decisions/05_POR_decisions.txt
  common/decisions/05_SMA_decisions.txt
  common/decisions/05_SWE_decision.txt
  common/decisions/categories/05_SMA_decision_categories.txt
  common/ideas/SanMarino.txt
  common/national_focus/05_san_marino.txt
  common/national_focus/nigeria.txt
  common/units/equipment/MD_convoys.txt
  events/Nigeria.txt
  gfx/leaders/SMA/SMA_air_chief.dds
  gfx/leaders/SMA/small/SMA_air_chief_small.dds
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera unit + equipment + ai tweaks
  common/ai_strategy/ALN.txt
  common/ideas/Event Horizon.txt
  common/script_enums.txt
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  common/technologies/infantry.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
  gfx/interface/counters/divisions_large/bellatoris.dds
  gfx/interface/counters/divisions_small/onmap_unit_bellatoris_icon.dds
  gfx/interface/project_treshold/counters/HACS_icon.dds
  gfx/interface/project_treshold/counters/onmap_unit_HACS_icon.dds
  gfx/interface/technologies/EH/LAND/CHIMERA_0.dds
  interface/Technologies.gfx
  interface/subuniticons.gfx
  localisation/english/MD_units_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Stuff
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/national_focus/JAP.txt
  localisation/english/MD_dm_modifiers.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Leader traits and demographics mechanics
  common/national_focus/JAP.txt
  events/JAP.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

productivity growth debuff
  common/ideas/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH tesla project + raid polisjhing save
  common/raids/categories/raid_categories.txt
  common/scripted_guis/EH_scripted_gui.txt
  common/special_projects/projects/zz_event_horizon_special_projects.txt
  interface/EH_scripted_gui.gui
  interface/military_raids/MD_military_raids.gfx
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH tesla production fix
  common/scripted_guis/EH_scripted_gui.txt
  interface/EH_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

america should now keep its guarantees over Japan, Korea and Taiwan
  common/ai_strategy/USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Vietnam and Wa Changes (#426)
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  history/countries/WAA - Wa.txt
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

dozer
  common/units/equipment/MD_tank_chassis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH bug fixing
  common/ai_strategy/ALN.txt
  common/raids/categories/raid_categories.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Microchip and Composite Decision Icon
  common/decisions/05_LAT_decisions.txt
  gfx/interface/decisions/economy/advanced_composites.dds
  gfx/interface/decisions/economy/microchips.dds
  interface/MD_decisions.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

French event pictures from branch
  gfx/event_pictures/europe/france - FRA/FRA_concert_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_eiffel_tower_news.dds
  gfx/event_pictures/europe/france - FRA/FRA_eiffel_tower_siege.dds
  gfx/event_pictures/europe/france - FRA/FRA_military_base_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_nuclear_facility_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_police_operation.dds
  gfx/event_pictures/europe/france - FRA/FRA_police_station_attack.dds
  gfx/event_pictures/europe/france - FRA/FRA_terror_aftermath.dds
  interface/MD_eventpictures.gfx
Due: none

Vatican holy see logo
  common/ideas/Vatican.txt
  gfx/interface/ideas/vatican/papacy_logo.dds
  gfx/interface/ideas/vatican/vatican_library.dds
  interface/MD_ideas.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH major chimera adjustments
  common/ai_strategy/ALN.txt
  common/ai_templates/MD_event_horizon.txt
  common/ideas/Chimera.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  common/technologies/custom_tech.txt
  common/technologies/infantry.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
  events/Event Horizon.txt
  gfx/interface/counters/division_templates_large/EH_custom_template_000.dds
  gfx/interface/counters/division_templates_large/EH_custom_template_001.dds
  gfx/interface/counters/division_templates_small/EH_custom_template_000.dds
  gfx/interface/counters/division_templates_small/EH_custom_template_001.dds
  gfx/texticons/unit_ALN_bellatoris_icon.dds
  gfx/texticons/unit_HACS_Mech_icon.dds
  history/countries/ALN - Alien.txt
  history/units/ALN_2000_nonnsb.txt
  interface/subuniticons.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixed the CFA franc decision
  common/decisions/Political Desicions.txt
  localisation/english/MD_influence_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH chimera spawns in each portal now
  common/dynamic_modifiers/EH_dynamic_modifiers.txt
  common/modifiers/EH_modifiers.txt
  common/on_actions/99_EH_on_actions.txt
  common/scripted_effects/99_EH_scripted_effects.txt
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH next chimera unit
  common/ai_templates/MD_event_horizon.txt
  common/script_enums.txt
  common/technologies/custom_tech.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
  gfx/interface/project_treshold/equipment/brachionis.png
  gfx/interface/technologies/EH/LAND/CHIMERA_1.dds
  history/countries/ALN - Alien.txt
  interface/Technologies.gfx
  localisation/english/MD_units_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

work
  common/dynamic_modifiers/JAP_dynamic_modifiers.txt
  common/ideas/JAP.txt
  common/national_focus/JAP.txt
  common/occupation_laws/occupation_laws.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_dm_modifiers.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update JAP.txt
  common/decisions/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

added a cost for Green fuel
  common/national_focus/liechtenstein.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Libyan stability decay
  common/scripted_effects/99_LBA_scripted_effects.txt
  localisation/english/MD_focus_LBA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed #428
  common/defines/MD_defines.lua
Due: none

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/decisions/JAP.txt
  common/defines/MD_defines.lua
  common/ideas/JAP.txt
  common/national_focus/JAP.txt
  common/occupation_laws/occupation_laws.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixing bugs
  common/decisions/Algeria.txt
  common/national_focus/Algeria.txt
  common/scripted_localisation/99_ALG_scripted_localisation.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_ideas_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_focus_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_events_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_decisions_CHA_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_custom_achievements_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
