Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

Update MTG_naval.txt
  common/technologies/MTG_naval.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add new super heavy tank chassis enums and update equipment
  common/script_enums.txt
  common/units/equipment/MD_mtg_ships.txt
  common/units/equipment/MD_x_tank_chassis.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update MD_frontend_l_english.yml
  localisation/english/MD_frontend_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

YIP party
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Generic politicans, generals and admirals for Japan and fixed a bug for Germany
  Changelog.txt
  common/national_focus/germany.txt
  gfx/leaders/generic_admirals/japan/japanese_admiral_1.dds
  gfx/leaders/generic_admirals/japan/japanese_admiral_2.dds
  gfx/leaders/generic_admirals/japan/japanese_admiral_3.dds
  gfx/leaders/generic_admirals/japan/japanese_admiral_4.dds
  gfx/leaders/generic_generals/japan/japanese_general_1.dds
  gfx/leaders/generic_generals/japan/japanese_general_2.dds
  gfx/leaders/generic_generals/japan/japanese_general_3.dds
  gfx/leaders/generic_generals/japan/japanese_general_4.dds
  gfx/leaders/generic_politicians/japanese_politican_1.dds
  gfx/leaders/generic_politicians/japanese_politican_2.dds
  gfx/leaders/generic_politicians/japanese_politican_3.dds
  gfx/leaders/generic_politicians/japanese_politican_4.dds
  gfx/leaders/generic_politicians/japanese_politican_5.dds
  gfx/leaders/generic_politicians/japanese_politican_6.dds
  gfx/leaders/generic_politicians/japanese_politican_7.dds
  portraits/00_portraits.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixeeeeeeeeeeees
  common/national_focus/05_CHA_focus.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes agaaaaaaaaaaaain
  common/decisions/Chad.txt
  common/ideas/Chadian.txt
  common/national_focus/05_CHA_focus.txt
  events/Chad.txt
  localisation/english/MD_decisions_CHA_l_english.yml
  localisation/english/MD_events_CHA_l_english.yml
  localisation/english/MD_focus_CHA_l_english.yml
  localisation/english/MD_ideas_CHA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Add new techs and modules for drones, tanks, and naval units
  common/special_projects/projects/air_projects.txt
  common/special_projects/projects/naval_projects.txt
  common/special_projects/projects/tank_module_projects.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/NSB_armor.txt
  common/technologies/NSB_artillery.txt
  common/technologies/naval.txt
  localisation/english/MD_techs_l_english.yml
  localisation/english/equipment_l_english.yml
  localisation/english/tank_modules_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/special_projects/projects/civilian_projects.txt
  common/technologies/industry.txt
  localisation/english/MD_units_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Adjusted several tooltips and events
  common/national_focus/japan.txt
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Main menu error fix (#398)
  interface/frontendmainview.gui
Due: none

Stuff
  common/national_focus/JAP.txt
  localisation/english/MD_misc_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Scrollbar (#401)
  interface/frontendmainview.gui
Due: none

Crop Dusters Party
  common/countries/cosmetic.txt
  common/national_focus/Republic of Lakota.txt
  events/Republic of Lakota.txt
  gfx/flags/LKT_Free_Fields_Society.tga
  gfx/flags/medium/LKT_Free_Fields_Society.tga
  gfx/flags/small/LKT_Free_Fields_Society.tga
  localisation/english/MD_focus_LKT_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Work
  common/characters/JAP.txt
  common/ideas/AA_religion.txt
  common/ideas/JAP.txt
  common/national_focus/JAP.txt
  events/JAP.txt
  history/countries/JAP - Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

finally some good progress
  common/script_enums.txt
  common/technologies/BBA_aircraft.txt
  common/technologies/air_techs.txt
  common/technologies/anti_tank.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/MD_tank_chassis.txt
  common/units/equipment/MD_x_plane_airframes.txt
  common/units/equipment/modules/MD_plane_modules.txt
  interface/countrytechtreeview.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/Chad.txt
  common/decisions/categories/CHA_decision_categories.txt
  common/ideas/Chadian.txt
  common/national_focus/05_CHA_focus.txt
  common/opinion_modifiers/Chad.txt
  common/scripted_effects/99_CHA_scripted_effects.txt
  events/Chad.txt
  localisation/english/MD_decisions_CHA_l_english.yml
  localisation/english/MD_events_CHA_l_english.yml
  localisation/english/MD_focus_CHA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  common/decisions/Chad.txt
  common/decisions/categories/CHA_decision_categories.txt
  common/national_focus/05_CHA_focus.txt
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/decisions/categories/CHA_tribal_categories.txt
  common/national_focus/05_CHA_focus.txt
  common/scripted_guis/CHA_tribal_scripted_gui.txt
  common/scripted_localisation/99_CHA_scripted_localisation.txt
  interface/CHA_tribal_gui.gui
  localisation/english/MD_decisions_CHA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  interface/CHA_tribal_gui.gui
Due: none

improvements
  Millennium-Dawn.mod
  common/decisions/Chad.txt
  common/ideas/Chadian.txt
  common/national_focus/05_CHA_focus.txt
  interface/CHA_tribal_gui.gui
  localisation/english/MD_decisions_CHA_l_english.yml
  localisation/english/MD_focus_CHA_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

POL economic focus - part 3
  common/dynamic_modifiers/POL_dynamic_modifiers.txt
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update protests.txt
  events/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Events and tiny fix for NKO
  common/ideas/Various.txt
  common/national_focus/korea_north.txt
  events/Counter Terror.txt
  localisation/english/MD_middle_east_content_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

GFX for CT
  gfx/event_pictures/generic/terror/CTC.1.dds
  gfx/event_pictures/generic/terror/CTC.10.dds
  gfx/event_pictures/generic/terror/CTC.2.dds
  gfx/event_pictures/generic/terror/CTC.3.dds
  gfx/event_pictures/generic/terror/CTC.4.dds
  gfx/event_pictures/generic/terror/CTC.5.dds
  gfx/event_pictures/generic/terror/CTC.6.dds
  gfx/event_pictures/generic/terror/CTC.7.dds
  gfx/event_pictures/generic/terror/CTC.8.dds
  gfx/event_pictures/generic/terror/CTC.9.dds
  gfx/event_pictures/generic/terror/CTN.1.dds
  gfx/event_pictures/generic/terror/CTN.10.dds
  gfx/event_pictures/generic/terror/CTN.11.dds
  gfx/event_pictures/generic/terror/CTN.12.dds
  gfx/event_pictures/generic/terror/CTN.2.dds
  gfx/event_pictures/generic/terror/CTN.3.dds
  gfx/event_pictures/generic/terror/CTN.4.dds
  gfx/event_pictures/generic/terror/CTN.5.dds
  gfx/event_pictures/generic/terror/CTN.6.dds
  gfx/event_pictures/generic/terror/CTN.7.dds
  gfx/event_pictures/generic/terror/CTN.8.dds
  gfx/event_pictures/generic/terror/CTN.9.dds
  interface/MD_eventpictures.gfx
Due: none

Fix
  localisation/english/MD_focus_KOR_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_ideas_CHA_l_english.yml
  localisation/english/MD_new_traits_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

adding in more CT mechanices and math
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_budget.txt
  common/modifier_definitions/counter_terror_modifier_definitions.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/02_EU_POTEF_shared.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/01_counter_terror_scripted_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

improvements
  localisation/english/MD_game_rules_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

improvements
  events/Chad.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/units/names_divisions/UFD_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

improvements
  common/units/names_divisions/FUC_names_divisions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
