Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

Added Loc to All Used Events and then Some
  events/Japan.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Ideas and LOC
  common/ideas/Japanese.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH focus effects
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/scripted_guis/EH_scripted_gui.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  common/technologies/infantry.txt
  events/Event Horizon.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update Changelog.txt
  Changelog.txt
Due: none

Fixes more Work to go
  common/ideas/Swiss.txt
  common/national_focus/01_EU_USoE_shared.txt
  common/national_focus/switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Russian Subject Monthly Separatism TIck Optimization (#213)
  Changelog.txt
  common/decisions/SubjectsOfRussia.txt
  common/decisions/categories/SubjectOfRussia_categories.txt
  common/on_actions/00_on_actions.txt
  common/on_actions/99_SOV_on_actions.txt
  common/on_actions/99_SubjectRussia_on_actions.txt
  common/scripted_effects/99_SOV_scripted_effects.txt
  common/scripted_effects/99_SubjectRussia_scripted_effects.txt
  common/scripted_localisation/01_SubjectRussia_scripted_localisation.txt
  common/scripted_triggers/99_SOV_scripted_triggers.txt
  common/scripted_triggers/99_SUB_scripted_triggers.txt
  events/SubjectRussia.txt
  localisation/english/MD_focus_SUB_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More Fixes For Focuses
  common/national_focus/switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Restoring the localization
  localisation/english/MD_focus_JAP_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

POL fix AI starting visegrad branch
  common/national_focus/poland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog
  Changelog.txt
Due: none

EH focus effect
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Issue #114 fixed: Improve AI handling of investments (#216)
  Changelog.txt
  common/scripted_effects/99_AI_investment_scripted_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

1. Balanced Returns (GDP-based instead of population-based): (#215)
  Changelog.txt
  common/decisions/Afghanistan.txt
  localisation/english/MD_focus_AFG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fix for Issue #218: SAM Missile Icons Not Matching Equipment (#219)
  Changelog.txt
  interface/Technologies.gfx
  interface/mdult_missiles.gfx
Due: none

Fixed some errors (#221)
  common/decisions/Syria.txt
  common/national_focus/bolivia.txt
  common/national_focus/serbia.txt
  events/Libya.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH additional expense
  common/ideas/Event Horizon.txt
  common/national_focus/EH_generic.txt
  common/scripted_effects/00_money_system.txt
  common/scripted_localisation/01_money_scripted_localisation.txt
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed some errors
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fixes
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixes
  common/dynamic_modifiers/16_SWI_dynamic_modifiers.txt
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
  localisation/english/MD_focus_SWI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

More spirits and focus work
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

One more spirit I did not save before
  common/ideas/Swiss.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Added new loc and gfx
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

More focus work
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

resource storage
  common/decisions/00_resource_storage_missions.txt
  common/decisions/categories/00_resource_storage_category.txt
  common/dynamic_modifiers/00_resource_storage_modifers.txt
  common/on_actions/MD_resource_storage_on_actions.txt
  common/scripted_effects/resource_storage_effects.txt
  common/scripted_guis/Resource_storage_gui.txt
  interface/resource_storage.gfx
  interface/resource_storage.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixed resource storage
  common/decisions/00_resource_storage_missions.txt
  common/decisions/categories/00_resource_storage_category.txt
  common/scripted_effects/resource_storage_effects.txt
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

AFL Political Path
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Added microprocessor to China
  Changelog.txt
  history/countries/CHI - China.txt
  tools/__pycache__/path_utils.cpython-312.pyc
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Minor fix for DPRK (#228)
  history/countries/NKO - North Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Expand UK military industrial organizations
  common/ideas/britain.txt
  common/military_industrial_organization/organizations/MD_ENG_organizations.txt
  common/national_focus/uk.txt
  docs/dev-resources/code-stylization-guide.md
  gfx/interface/ideas/companies/United Kingdom/BAE_Systems.dds
  interface/military_industrial_organization/industrial_organization_policies_and_traits_icons.gfx
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_decisions_l_english.yml
  localisation/english/MD_decisions_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

fixed main errors
  common/decisions/Syria.txt
  common/decisions/categories/bulgaria_decision_categories.txt
  common/national_focus/bulgaria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Melon1
  common/decisions/categories/north_korea_decision_categories.txt
  common/decisions/north_korea.txt
  common/national_focus/korea_north.txt
  localisation/english/MD_focus_NKO_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

remove Aerial Refueling System as a module research, remove from existing air frames
  common/ai_equipment/USA_plane.txt
  common/national_focus/netherlands.txt
  common/technologies/BBA_aircraft.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/modules/MD_plane_modules.txt
  events/Germany.txt
  events/Iran.txt
  events/Sweden.txt
  events/United States.txt
  history/countries/ENG - United Kingdom.txt
  history/countries/FRA - France.txt
  history/countries/GER - Germany.txt
  history/countries/ISR - Israel.txt
  history/countries/ITA - Italy.txt
  history/countries/JAP - Japan.txt
  history/countries/KOR - Korea.txt
  history/countries/PER - Iran.txt
  history/countries/SPR - Spain.txt
  history/countries/USA - USA.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

remove Aerial Refueling System loc and gfx
  common/technologies/BBA_aircraft.txt
  common/units/equipment/MD_plane_airframes.txt
  common/units/equipment/modules/MD_plane_modules.txt
  gfx/interface/technologies/modules/plane_builder/support/special_refueling_3.dds
  interface/plane_modules_icons.gfx
  localisation/braz_por/plane_designer_l_braz_por.yml
  localisation/english/plane_designer_l_english.yml
  localisation/french/plane_designer_l_french.yml
  localisation/german/plane_designer_l_german.yml
  localisation/japanese/plane_designer_l_japanese.yml
  localisation/korean/plane_designer_l_korean.yml
  localisation/polish/plane_designer_l_polish.yml
  localisation/russian/plane_designer_l_russian.yml
  localisation/simp_chinese/plane_designer_l_simp_chinese.yml
  localisation/spanish/plane_designer_l_spanish.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Small adjustment
  common/ideas/Chinese.txt
  common/national_focus/taiwan.txt
  localisation/english/MD_focus_TAI_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Iranian events
  gfx/event_pictures/middle_east/iran - PER/EventWor2ld_Template.png
  gfx/event_pictures/middle_east/iran - PER/Iran_spec_ops_after_chairman.dds
  gfx/event_pictures/middle_east/iran - PER/chair_man_face_iran.dds
  gfx/event_pictures/middle_east/iran - PER/chair_man_new_event_iran.dds
  gfx/event_pictures/middle_east/iran - PER/chairman_of_iran.dds
  gfx/flags/PER_Protest_flag.tga
  gfx/flags/PER_iranic_federation.tga
  gfx/flags/medium/PER_Protest_flag.tga
  gfx/flags/small/PER_Protest_flag.tga
  gfx/leaders/PER/leader_ilam.dds
  interface/MD_eventpictures.gfx
Due: none
