Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

md-basic-style-check:
  name: MD Basic Style Check
  entry: python3 tools/check_basic_style.py
  language: system
  pass_filenames: false

md-basic-style-check-2:
  name: MD Basic Style Check 2 (Advanced)
  entry: python3 tools/check_basic_style_2.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

md-coding-standards:
  name: MD Coding Standards
  entry: python3 tools/coding_standards.py
  language: system
  pass_filenames: false
  args:
  - dummy_token

validate-localization-encoding:
  name: Validate HOI4 localization UTF-8 with BOM
  entry: python3 tools/validate_localization_encoding.py
  language: system
  pass_filenames: true

fix-localization-encoding:
  name: Auto-fix HOI4 localization UTF-8 BOM
  entry: python3 tools/validate_localization_encoding.py --fix
  language: system
  pass_filenames: true

check-mod-file-encoding:
  name: Check .mod file UTF-8 encoding
  entry: python3 tools/validate_mod_encoding.py
  language: system
  pass_filenames: true

More work done
  common/ideas/Swiss.txt
  common/national_focus/switzerland.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stuff
  common/decisions/ENG.txt
  common/national_focus/ENG.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

fixes
  common/decisions/Algeria.txt
  common/national_focus/Algeria.txt
  events/Algeria.txt
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Code Stylization + Performance check
  common/ideas/Algerian.txt
  events/Algeria.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Start Foreign Policy
  common/countries/cosmetic.txt
  common/national_focus/Republic of Lakota.txt
  events/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

base framework completed for log only testing; events added after we know this works
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_effects/00_influence_scripted_effects.txt
  common/scripted_effects/00_microchip_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

industry expanded tech
  common/technologies/industry.txt
  gfx/interface/technologies/Generic/Industry/composite_production_1.dds
  gfx/interface/technologies/Generic/Industry/composite_production_2.dds
  gfx/interface/technologies/Generic/Industry/composite_production_3.dds
  gfx/interface/technologies/Generic/Industry/composite_production_4.dds
  gfx/interface/technologies/Generic/Industry/composite_production_5.dds
  interface/Technologies.gfx
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

removed domestic for reasons
  common/scripted_effects/00_ct_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Philip Inner Circle
  common/decisions/ENG.txt
  common/ideas/ENG.txt
  common/national_focus/ENG.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update ENG.txt
  common/national_focus/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Stuff
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/ENG.txt
  events/ENG.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

MIO fix
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
  gfx/interface/ideas/companies/Algeria/ALG_snvi.dds
  gfx/interface/ideas/companies/Algeria/CNAN.dds
  gfx/interface/ideas/companies/Algeria/DGI.dds
  gfx/interface/ideas/companies/Algeria/ECMK.dds
  gfx/interface/ideas/companies/Algeria/ERIS.dds
  gfx/interface/ideas/companies/Algeria/ERSA.dds
  gfx/interface/ideas/companies/Algeria/GATMA.dds
  gfx/interface/ideas/companies/Algeria/INRF.dds
  gfx/interface/ideas/companies/Algeria/MEK.dds
  interface/MD_ideas.gfx
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

more tweaks for performance, along with cleanup and slight adjustments
  common/decisions/categories/01_CT_decision_categories.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/counter_terror_scripted_gui.txt
  interface/counter_terror_scripted_gui.gui
  interface/international.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera template upgrade
  events/Event Horizon.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

EH chimera portal unit spawn fix
  common/on_actions/99_EH_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

changelog box fixes (#435)
  interface/frontendmainview.gui
Due: none

setting up the UI so its more useable
  common/scripted_effects/00_ct_effects.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

doing more UI setup and implementation of player actions
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/ideas/AA_corruption_laws.txt
  common/ideas/AA_law_budget.txt
  common/modifier_definitions/counter_terror_modifier_definitions.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH more hacs prep. p.1
  common/script_enums.txt
  common/technologies/custom_tech.txt
  common/technologies/infantry.txt
  common/units/MD_land_units.txt
  common/units/equipment/EH_HACS_mech.txt
  interface/EH_scripted_gui.gui
  localisation/english/MD_focus_EH_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

EH hacs mechs prepared (no 3d models and icons)
  common/units/MD_land_units.txt
  interface/Technologies.gfx
  interface/subuniticons.gfx
  localisation/english/MD_units_l_english.yml
  localisation/english/equipment_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

stuff
  common/decisions/debug_decisions.txt
  common/special_projects/projects/civilian_projects.txt
  common/technologies/industry.txt
  common/technologies/infantry.txt
  interface/countrytechtreeview.gui
  localisation/english/MD_techs_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Germany matches to proper name
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Foreign Policy Paths
  common/national_focus/Republic of Lakota.txt
  localisation/english/MD_focus_LKT_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Nerf German NF Change through trade RoI
  common/ideas/German.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

typo
  localisation/english/MD_focus_COM_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Change Greencard initiative to make more sense and have some downsides
  common/ideas/German.txt
  events/Germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_germany.txt
  common/national_focus/05_germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

new MIO
  common/military_industrial_organization/organizations/MD_ALG_organizations.txt
  gfx/interface/ideas/companies/Algeria/ENMIB.dds
  interface/MD_ideas.gfx
  localisation/english/MD_focus_ALG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

a bulk more of work on the system
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/ideas/AA_law_budget.txt
  common/modifier_definitions/counter_terror_modifier_definitions.txt
  common/raids/special_forces_raids.txt
  common/scripted_effects/00_ct_effects.txt
  common/scripted_guis/missiles_scripted_gui.txt
  common/scripted_triggers/01_international_triggers.txt
  interface/MD_countrymissilesview.gui
  localisation/english/MD_international_l_english.yml
  localisation/english/replace/replaced_from_vanilla_modifiers_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

file name change
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fix
  common/national_focus/germany.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 05_united_kingdom.txt
  common/national_focus/05_united_kingdom.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

stuff
  common/dynamic_modifiers/13_ENG_dynamic_modifiers.txt
  common/national_focus/05_united_kingdom.txt
  events/ENG.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Inner Circle Done
  common/characters/ENG.txt
  common/country_leader/00_traits.txt
  common/country_leader/ENG_traits.txt
  common/decisions/United Kingdom.txt
  common/decisions/United_Kingdom.txt
  common/ideas/United_Kingdom.txt
  common/national_focus/05_united_kingdom.txt
  common/unit_leader/01_army_leader_traits.txt
  events/united_kingdom.txt
  history/countries/ENG - United Kingdom.txt
  localisation/english/MD_focus_ENG_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_focus_ENG_l_english.yml
  localisation/english/MD_focus_ENG_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$
