Repository younesKerbouche/Millennium-Dawn: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding, check-mod-file-encoding

Path conditions:
  md-basic-style-check: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-basic-style-check-2: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  md-coding-standards: any of: \.(txt)$, but not: Changelog\.txt$|AUTHORS\.txt$|descriptions.*\.txt$
  validate-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  fix-localization-encoding: any of: localisation/english/.*\.yml$|localisation/.*_l_english\.yml$
  check-mod-file-encoding: any of: \.mod$

JAP Scientist
  gfx/leaders/JAP/scientist/scientist_hiroshi_ishiguro.dds
  gfx/leaders/JAP/scientist/scientist_ishii_kazuo.dds
  gfx/leaders/JAP/scientist/scientist_junichiro_kawaguchi.dds
  gfx/leaders/JAP/scientist/scientist_yoshiyuki_sankai.dds
  gfx/leaders/JAP/scientist/scientist_yuichi_tsuda.dds
  gfx/leaders/JAP/scientist/scientist_yusuke_tahara.dds
  gfx/leaders/JAP/scientist/scientist_yutaka_matsuo.dds
Due: none

productivity_multiplier = overall_productivity / global.average_world_productivity - Relative scale where the global average = 1.0x baseline
  common/scripted_effects/00_money_system.txt
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

productivity_multiplier = overall_productivity / global.average_world_productivity - Relative scale where the global average = 1.0x baseline
  Changelog.txt
Due: none

Add UK Inner Circle inlay window and focus tree
  common/focus_inlay_windows/eng_inner_circle_inlay_window.txt
  common/national_focus/uk.txt
  history/countries/ENG - United Kingdom.txt
  interface/inner_circles/ENG_inner_circle.gfx
  interface/inner_circles/ENG_inner_circle_scripted_gui.gui
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update JAP.txt
  common/characters/JAP.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Refined GDP per capita thresholds and added Greece exclusion for developed nation classification in productivity transitions. Updated comments for clarity
  common/ideas/AA_productivity_transition.txt
  common/scripted_effects/99_productivity_transition_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Add Japanese monarchist focus tree and localisation
  common/characters/JAP.txt
  common/national_focus/japan.txt
  common/scripted_localisation/00_subideology_scripted_localisation.txt
  localisation/english/MD_focus_JAP_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Fixed Singapore tag, added Brunei and Bahrain to developed nations list, and implemented GDP-based fallback logic for unlisted countries in productivity transitions
  Changelog.txt
  common/scripted_effects/99_productivity_transition_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Revise UK focus tree and localisation for monarchy
  common/national_focus/uk.txt
  common/scripted_localisation/99_ENG_scripted_localisation.txt
  localisation/english/MD_focus_ENG_l_english.yml
  localisation/english/MD_subideology_parties_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

resource-storage
  interface/resource_storage.gui
  localisation/english/resource_storage_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

government tree loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

stuff
  events/protests.txt
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

added unrest growth system, using protest_strength to track how upsetti spagetti the people are
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

added check to fire the starting event if critera are met and your luck is bad
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

social tree loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

typo
  localisation/english/MD_techs_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

adjusting how base resource costs are calculated
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_money_system.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixing some of the loc, setting up some other stuff
  common/scripted_guis/Resource_storage_gui.txt
  interface/resource_storage.gui
  localisation/english/MD_resource_storage_I_english.yml
  localisation/english/resource_storage_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

done(?)
  common/decisions/categories/protests.txt
  common/decisions/protests.txt
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_protests_effects.txt
  common/scripted_triggers/99_protests_scripted_triggers.txt
  events/protests.txt
  localisation/english/MD_decisions_l_english.yml
  localisation/english/MD_tooltips_l_english.yml
  localisation/english/events_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Som bugfixs (#323)
  common/ideas/African.txt
  events/Somalia.txt
  history/units/SHB_ICU_2006.txt
  localisation/english/MD_africa_events_l_english.yml
  localisation/english/countries_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

base GUI setup for this stuff to work
  common/scripted_effects/resource_storage_effects.txt
  common/scripted_guis/Resource_storage_gui.txt
  interface/countrytradeview.gui
  interface/resource_storage.gui
  localisation/english/resource_storage_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

F4 Adjustment
  Changelog.txt
  gfx/entities/USA_MD4_planes.asset
Due: none

even more gui work
  common/scripted_effects/resource_storage_effects.txt
  common/scripted_guis/Resource_storage_gui.txt
  interface/resource_storage.gui
  localisation/english/resource_storage_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

Update MD_on_actions.txt
  common/on_actions/MD_on_actions.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update protests.txt
  common/decisions/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Update 00_protests_effects.txt
  common/scripted_effects/00_protests_effects.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

fixes
  common/on_actions/MD_on_actions.txt
  common/scripted_effects/00_protests_effects.txt
  events/protests.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

diplomacy tree loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

earthquake tree loc
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

localization cleanup p1
  localisation/english/MD_focus_JAP_l_english.yml
  localisation/japanese/MD_focus_JAP_l_japanese.yml
Due: validate-localization-encoding, fix-localization-encoding

EH project tesla raids
  common/national_focus/EH_generic.txt
  common/raids/air_raids.txt
  common/raids/categories/raid_categories.txt
  common/scripted_triggers/99_EH_scripted_triggers.txt
  events/Event Horizon.txt
  interface/military_raids/MD_military_raids.gfx
  localisation/english/MD_focus_EH_l_english.yml
  localisation/english/MD_military_raids_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

forgot to mention that was the last commit before going offline
  localisation/english/MD_focus_EH_l_english.yml
Due: validate-localization-encoding, fix-localization-encoding

Rebalanced Internal Investments + Extended Tech time for missiles (#324)
  Changelog.txt
  common/scripted_guis/01_investment_scripted_gui.txt
  common/technologies/ballistic_missiles.txt
  common/technologies/cruise_missiles.txt
  common/technologies/custom_tech.txt
  common/technologies/missile_defense.txt
  common/technologies/non_got_missiles.txt
  common/technologies/space.txt
  localisation/english/MD_investments_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding

North korean additions2026 - added descisions linked to focuses that give tech bonuses (#302)
  common/decisions/north_korea.txt
  common/ideas/North Korea.txt
  common/national_focus/korea_confederation.txt
  common/national_focus/korea_north.txt
  events/Korea.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

Fix
  common/national_focus/korea_confederation.txt
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards

setting up inflation into the game
  common/dynamic_modifiers/0_dynamic_modifiers.txt
  common/modifier_definitions/money_modifier_definitions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_economic_effects.txt
  common/scripted_effects/00_money_system.txt
  interface/MD_money.gui
  localisation/english/MD_money_l_english.yml
Due: md-basic-style-check, md-basic-style-check-2, md-coding-standards, validate-localization-encoding, fix-localization-encoding
